.biggenerModal{
  animation-duration: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: auto;
  max-height: calc(100vh );
  z-index: 99;

  @media (max-width:767px){
    display: block;
    padding: 50px 0 0 0;
  }
  .biggnerContentClose{
    span{
      cursor: pointer;
    }
  }
  .biggenerTimer{
    position: absolute;
    top: 20px;
    right: 20px;
  }
}