.yellow-button
{
    background: #f3dc19;
    color:#000 !important;
    padding:10px 20px 10px 20px;
    border: 1px solid #f2f2f2;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-weight:bold;font: 15px 'Poppins', sans-serif;
}

.analytics-detail{
    float:right;
    margin-bottom:30px;
    display: block;
}
.unread{
    background-color:#f2f2f2 !important;
}
.read{
    background-color: #fff !important;
}
.table-field{
    margin-top:15px !important;
}

.filter-block{
    padding: 6px 10px;
    border: 1px solid #f2f2f2;
    color: #212529 !important;
    font: 13px 'Poppins', sans-serif;
    border-radius: 4px;
    margin: 0 0 0 10px;
}
.filter-block i{
    margin-right: 5px;
}
.header .menu .right .author ul li a .images, header .menu .right .sites ul li a .images{
    top:15px !important;
}
header .menu .right .author ul li ul, header .menu .right .sites ul li ul {
    min-width: 160px !important;
}
.open-img{overflow: hidden;}
.open-img .img{overflow: hidden;height: 170px;}
.open-img .imag{overflow: hidden;height: 170px;display:flex;align-items:center;}
.open-img .option u{
    font: 12px 'Poppins', sans-serif;
    color: #393939;
    text-decoration: none;
    padding: 10px 0;
    overflow: hidden;
    float: left;
}
