$si: #1b1b1b;
$sari: #f3dc19;
$mavi : #2196f3;
$gri: #3c4858;
$i: !important;
$font: Comfortaa-Regular;
$fontlight: Comfortaa-Light;
$fontbold: 'Poppins', sans-serif;
div#myChart-graph-id0-legend-frame,g#myChart-graph-id0-legend-c{display: none $i;}
div#myChart-license-text{display: none $i;}
#myChart { height: 100%; width: 100%; min-height: 400px;}

.timer-box{;border-bottom: 2px solid #f2f2f2;padding-bottom: 50px;margin:0 0 30px 0;float:left;width:100%;
  .item{float:left;width:100%;letter-spacing: 1px;text-align: center;}
  span{font:45px $fontbold;color:$mavi;display: block;}
  i{display: block;font:17px $font;color:#3c4858;}
}
.m-list{float:left;width:100%;
 .item{float:left;width:100%;position: relative;border-bottom: 1px solid rgba(0, 0, 0, 0.12);padding: 10px 0;
   .text{padding-right: 90px;width:90%;float: right;}
   .image{float: left; width: 33px; height: 33px; background: #d9d9d9; border-radius: 50%; margin-right: 20px;overflow: hidden;
    img{max-width: 100%;}
   }
 }
  span{font: 14px 'Poppins', sans-serif $i;color: #757575;display: block;}
  p{font: 12px 'Poppins', sans-serif $i; color: #1b1b1b; margin: 0;}
  i{float: right; color: #999999; font: 12px 'Poppins', sans-serif; position: absolute; top: 50%; right: 0;margin: -5px 0;}
}
select{min-width: 200px;}
a.more{display: block; text-align: center; margin: 20px auto;float: left; width: 100%;font: 12px $fontbold; color: #ff8400;}
