
.blue {
  color: #39D2FF; }

.yellow {
  color: #FED300; }

.green {
  color: #4AD991; }

.purple {
  color: #A3A0FB; }

.orange {
  color: #FF8373; }

.other {
  color: #BCBCCB; }

.remove {
  color: #8A8EA8; }

.fs-15 {
  font-size: 15px; }

.fixed-bottom {
  background: #fff; }

.dropdown-item:active {
  background: #f8f9fa !important;
  color: #16181b !important; }

body {
  font-family: 'Poppins', sans-serif;
  background: #F0F0F7; }

.form-control {
  border-color: #BCBCCB; }

label {
  font-size: 14px;
  color: #656A88; }

.light-blue {
  background: #39D2FF;
  border-color: #39D2FF; }
  .light-blue:hover {
    background: #656A88;
    border-color: #656A88; }

a {
  text-decoration: none !important; }

.color {
  color: #656A88; }

.grey {
  color: #BCBCCB; }

.container-fluid {
  max-width: 1215px; }

ul li {
  list-style-type: none; }

.bd-example.white {
  background: #fff;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.09);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.09);
  border: 1px solid #DBDBDE; }



.bg-white.white {
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.09);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.09);
  border: 1px solid #DBDBDE; }

.loader {
  display: none;
  position: absolute;
  background: #fff;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  padding: 75px 0; }

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.fs-11 {
  font-size: 11px; }

.paginationNav span, .paginationNav .page-link {
  font: 13px poppinsregular;
  color: #656A88;
  border: 1px solid #D7DAE2;
  display: block;
  text-align: center;
  float: left;
  border-radius: 4px;
  padding: 8px 15px;
  margin: 0 2px; }
.paginationNav ul {
  padding: 0;
  float: right;
  margin: 0; }
  .paginationNav ul li.active span {
    background-color: #e9ecef !important;
    border-color: #dee2e6 !important;
    color: #0056b3 !important; }

.mb-200 {
  margin-bottom: 200px; }

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#content {
  width: 100%;
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 75px 0 0 0; }

.btn-link {
  border: 1px solid #D2D2D2;
  font: 13px poppinsregular;
  color: #3D3D3D !important;
  text-decoration: none !important;
  text-align: left;
  width: auto;
  padding: 8px 10px;
  white-space: nowrap;
  overflow: hidden; }
  .btn-link:hover {
    background: #F0F0F7;
    border-color: #F0F0F7; }

  .btn-link:after {
    float: right;
    background: url(../images/selectBig.svg) no-repeat;
    border: none;
    width: 18px;
    height: 11px;
    margin: 5px 0 0 5px; }

.btn-primary {
  background: #39D2FF !important;
  border: none; }


.bottomFixedOptinos {
  left: 0;
  padding: 18px 0;
  bottom: 0;
  z-index: 10; }
  .bottomFixedOptinos .select {
    border: 1px solid #BCBCCB;
    border-radius: .25rem; }
    .bottomFixedOptinos .select span {
      float: left;
      font: 13px poppinsregular;
      color: #3D3D3D;
      padding: 6px 10px; }
    .bottomFixedOptinos .select select {
      border: none;
      padding-left: 0; }
  .bottomFixedOptinos a {
    font-size: 13px; }
    .bottomFixedOptinos a.red {
      color: #B86565;
      text-decoration: underline !important; }
  .bottomFixedOptinos p {
    font: 15px poppinsregular;
    color: #656A88; }
  .bottomFixedOptinos select {
    font: 13px poppinsregular;
    color: #3D3D3D;
    background: url(../images/selectBig.svg) no-repeat right 10px center;
    -webkit-appearance: none;
    width: auto;
    padding-right: 50px; }
  .bottomFixedOptinos .tabs ul {
    border: none;
    margin: 4px 0 0 0; }
    .bottomFixedOptinos .tabs ul li {
      font: 19px source_sans_proregular;
      color: #D2D2D2;
      margin: 0 15px; }
      .bottomFixedOptinos .tabs ul li a {
        font: 15px poppinsregular;
        color: #656A88;
        display: block;
        position: relative; }
        .bottomFixedOptinos .tabs ul li a sum {
          border-radius: 50%;
          text-align: center;
          display: block;
          float: left;
          margin: -5px 8px 0 0;
          border: 1px solid #D2D2D2;
          font: 19px source_sans_proregular;
          color: #D2D2D2;
          width: 35px;
          height: 35px;
          padding: 3px; }
        .bottomFixedOptinos .tabs ul li a.active sum {
          background: #39D2FF;
          border-color: #39D2FF;
          color: #fff; }

.t-20 {
  top: 90px; }

.mw-55 {
  max-width: 55% !important; }

.fs-13 {
  font-size: 13px;}

@media only screen and (max-width: 1350px) {
  .container-fluid {
    padding-left: 80px; } }
.sidebar .card {
  margin: 0 0 20px 0;
  border-radius: 0;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.09);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.09);
  border: 1px solid #DBDBDE; }
.sidebar .card-title {
  font: 15px poppinsmedium;
  color: #656A88;
  border: none;
  border-radius: 0; }
.sidebar ul li {
  padding: 0 0 5px 0; }
  .sidebar ul li a {
    color: #B86565;
    font-size: 16px;
    line-height: 22px;
    display: block; }
  .sidebar ul li small {
    color: #b8baca; }

