@font-face {
    font-family: 'source_sans_proregular';
    src: url("../fonts/sourcesanspro-regular.woff2") format("woff2"), url("../fonts/sourcesanspro-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: 'source_sans_prosemibold';
    src: url("../fonts/sourcesanspro-semibold.woff2") format("woff2"), url("../fonts/sourcesanspro-semibold.woff") format("woff");
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: 'poppinsthin';
    src: url("../fonts/poppins-thin.woff2") format("woff2"), url("../fonts/poppins-thin.woff") format("woff");
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: 'poppinsblack';
    src: url("../fonts/poppins-black.woff2") format("woff2"), url("../fonts/poppins-black.woff") format("woff");
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: 'poppinsbold';
    src: url("../fonts/poppins-bold.woff2") format("woff2"), url("../fonts/poppins-bold.woff") format("woff");
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: 'poppinsextrabold';
    src: url("../fonts/poppins-extrabold.woff2") format("woff2"), url("../fonts/poppins-extrabold.woff") format("woff");
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: 'poppinsextralight';
    src: url("../fonts/poppins-extralight.woff2") format("woff2"), url("../fonts/poppins-extralight.woff") format("woff");
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: 'poppinslight';
    src: url("../fonts/poppins-light.woff2") format("woff2"), url("../fonts/poppins-light.woff") format("woff");
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: 'poppinsmedium';
    src: url("../fonts/poppins-medium.woff2") format("woff2"), url("../fonts/poppins-medium.woff") format("woff");
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: 'poppinsregular';
    src: url("../fonts/poppins-regular.woff2") format("woff2"), url("../fonts/poppins-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: 'poppinssemibold';
    src: url("../fonts/poppins-semibold.woff2") format("woff2"), url("../fonts/poppins-semibold.woff") format("woff");
    font-weight: normal;
    font-style: normal; }
.dashboardPage .dash {
    height: 350px;
    margin-bottom: -20px; }
.dashboardPage g.highcharts-legend {
    display: none; }
.dashboardPage text {
    fill: #A09FAD !important;
    color: #A09FAD !important;
    font: 11px source_sans_proregular !important; }
.dashboardPage .tabs ul li {
    margin-right: 20px; }
.dashboardPage .tabs ul li.yellow a.active {
    border-color: #FED300; }
.dashboardPage .tabs ul li.blue a.active {
    border-color: #39D2FF; }
.dashboardPage .tabs ul li.purple a.active {
    border-color: #A3A0FB; }
.dashboardPage .tabs ul li a {
    font: 15px poppinsregular;
    font-weight: 500;
    color: #656A88;
    padding: 0 20px;
    text-align: center;
    display: block;
    position: relative;
    border-bottom: 6px solid transparent; }
.dashboardPage .tabs ul li a.active:before{
    display: none;
}
.dashboardPage .tabs ul li a.active {
    font-family: poppinsmedium; }
.dashboardPage .tabs ul li a.active i {
    font-family: poppinsmedium;
    color: #656A88; }
.dashboardPage .tabs ul li a i {
    font-size: 26px;
    font-weight: 500;
    color: #BCBCCB;
    display: block;
    font-style: normal;
    margin: 2px 0 5px 0; }

.dashboardBoxes .item {
    float: left;
    width: 100%;
    display: table;
    background: #fff;
    height: 100px;
    position: relative;
    overflow: hidden;
    padding: 0 10px; }
.dashboardBoxes .item .icon {
    float: left;
    height: 67px;
    width: 58px;
    margin: 16px 0; }
.dashboardBoxes .item .icon.online:before {
    background-position: 0 0; }
.dashboardBoxes .item .icon.speed:before {
    background-position: -88px 0; }
.dashboardBoxes .item .icon.times:before {
    background-position: -177px 0; }
.dashboardBoxes .item .icon.traffic:before {
    background-position: -256px 0; }
.dashboardBoxes .item .icon:before {
    content: "";
    background: url(../images/homeSprite.png) no-repeat;
    width: 38px;
    height: 40px;
    display: block;
    margin: 12px auto; }
.dashboardBoxes .item .text {
    font: 15px poppinsregular;
    color: #656A88;
    display: table-cell;
    vertical-align: middle;
    padding-left: 15px;
    width: 100%; }
.dashboardBoxes .item .text span {
    font: 25px poppinsmedium;
    display: block; }

.dashboardMaps .highcharts-credits {
    display: none; }

.miniBoxes .pieChartAll {
    height: 380px; }

.fullBoxes span {
    display: block;
    font: 15px poppinsregular;
    color: #656A88; }
.fullBoxes em {
    display: block;
    font: 18px source_sans_proregular;
    font-weight: 700; }
.fullBoxes i {
    display: block;
    font: 38px source_sans_proregular;
    margin: -5px 0;
    font-weight: 700; }
.fullBoxes g.highcharts-axis-labels.highcharts-yaxis-labels text, .fullBoxes g.highcharts-axis-labels.highcharts-xaxis-labels text {
    font: 13px poppinsregular !important; }
.fullBoxes g.highcharts-label.highcharts-data-label text {
    font: 10px poppinsmedium !important;
    color: #BCBCCB; }

.otherMini {
    height: 250px; }

text.highcharts-credits {
    display: none !important; }

.pieChartAll {
    height: 220px; }
.pieChartAll .rightChartText {
    float: left;
    min-width: 170px; }
.pieChartAll .rightChartText span {
    font: 12px poppinsregular;
    color: #656A88; }
.pieChartAll .rightChartText span.percent {
    float: right;
    color: #4d4f5c; }
.pieChartAll .rightChartText span.percent:before {
    content: "%"; }
.pieChartAll .rightChartText span.browserText {
    float: left; }

.center-list {
    min-height: 124px;
    margin: 38px 0; }
.center-list ul li {
    font: 15px poppinsregular;
    color: #656A88;
    text-align: center; }
.center-list ul li.android:before {
    background-position: -466px -124px; }
.center-list ul li.ios:before {
    background-position: -581px -124px; }
.center-list ul li.windows:before {
    background-position: -692px -124px; }
.center-list ul li.others:before {
    background-position: -803px -124px; }
.center-list ul li:before {
    content: "";
    width: 42px;
    height: 50px;
    background: url(../images/homeSprite.png) no-repeat;
    display: block;
    margin: 0 auto 20px auto; }
.center-list ul li span {
    display: block;
    font: 27px poppinssemibold;
    margin: 10px 0 0 0; }

.card {
    border: none;
    border-radius: 0; }

.list-group li {
    border-bottom: 1px dashed #D2D2D2;
    padding: 4px 0;
    font: 15px poppinsregular;
    color: #656A88; }
.list-group a {
    font: 15px poppinsregular;
    color: #3995DB;
    text-decoration: underline !important; }
.list-group span {
    font: 15px source_sans_proregular;
    color: #656A88;
    font-weight: 700; }

.progress-bar {
    height: 15px;
    background: #3995DB;
    position: relative;
    float: right;
    margin: 4px 0; }

/**/
g.highcharts-grid.highcharts-yaxis-grid path {
    stroke: #EAF0F4; }

.dashboardPage .nav-tabs li{
    width: inherit !important;
    margin: inherit !important;
    padding: inherit !important;
}

.bd-example, .bd-example.white{
    border:none;
    box-shadow: inherit;
}
