.mcPopupClose{outline: 0 !important;background: none;border: none;opacity: 1;font-size: 40px;line-height: 35px;position: absolute;right: 0;top: 0;height: 40px;padding: 0;width: 40px;
  &:hover{
    span{transition: 0.3s;transform: rotate(90deg);}
  }
  span{transition: 0.3s;display: block;width: 100%;height: 100%;line-height: 40px;}
}
.mcPopup{text-align: center;
  .modal-dialog{max-width: 100%;width: auto;height: auto;display: inline-flex;
    .modal-header{text-align: left;position: relative;
      .modal-title{padding-right: 35px;}
    }
    .modal-content{border-radius: 0;
      p{
        &:last-child{margin:0;}
      }
      .modal-body{text-align: left;position: relative;
        img{max-width: 100%;max-height: 100%;}
      }
    }
  }
}
#mcTopTooltip{transition: 0.3s;position: fixed;width: 100%;z-index: 99999;
  #allTopTooltip{padding: 20px;box-shadow: 0 0 7px rgba(0, 0, 0, 0.168627451);}
  @media only screen and (max-width: 767px) {
    p{font-size:13px;}
  }
  p{
    &:last-child{margin:0;}
  }
  &.top.active{transition: 0.3s;}
  &.bottom.active{transition: 0.3s;bottom:0 !important;}
}
#mctoolTipText{
  .button{position: absolute;right:20px;top: 50%;transform: translateY(-50%);
    a,button{cursor: pointer;}
  }
}
#mcBottomTooltip{position: fixed;bottom: 20px;width: 385px;z-index: 9999;
  &.right{right: 20px;}
  &.left{left: 20px;}
  @media only screen and (max-width: 767px){
    width:100%;right:0;
    #allBottomTooltip{margin:0 20px;position: relative;}
    p{font-size:13px;}
  }
  #allBottomTooltip{padding: 20px;box-shadow: 0 0 7px rgba(0, 0, 0, 0.16862745098039217);border-radius: 6px;}
  /*&.active{
    &:before{content:"";position: fixed;top: 0;left: 0;z-index: -1;width: 100vw;height: 100vh;background-color: #000;opacity: 0.5;}
  }*/
  p{
    &:last-child{margin:0;}
  }
  #mcBottomTooltipClose{border-radius: 50%;top:-45px;
    width: 35px;height:35px;font-size:30px;
    span{line-height: 35px;}
  }
}