@mixin resimatt ($width: $r-wid, $height: $r-hei) {
    .resim-att { width: #{$width}; height: #{$height}; position: relative; float: left; padding: 0; text-align: center;}
    .resim-att .resim-att-pre { width: #{$width}; height: #{$height}; position: relative; }
    .resim-att .resim-att-pre .resim-thumb { width: #{$width}; height: #{$height}; display: block; position: absolute; top: 0; left: 0; margin: 0 auto; overflow: hidden; max-width: 100%; max-height: 100%;}
    .resim-att .resim-att-pre .resim-thumb .resim-centered {width: #{$width}; height: #{$height}; position: absolute;top: 0;left: 0;-webkit-transform: translate(50%,50%);-moz-transform: translate(50%,50%);-ms-transform: translate(50%,50%);-o-transform: translate(50%,50%);transform: translate(50%,50%);}
    .resim-thumb .resim-centered img { position: absolute;top: 0;left: 0;width: auto;-webkit-transform: translate(-50%,-50%);-moz-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);-o-transform: translate(-50%,-50%);transform: translate(-50%,-50%);}
}

input:-webkit-autofill,input:-webkit-autofill:focus input:-webkit-autofill,input:-webkit-autofill:hover,select:-webkit-autofill,select:-webkit-autofill:focus,select:-webkit-autofill:hover,textarea:-webkit-autofill,textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus{-webkit-text-fill-color:#959595;-webkit-box-shadow:0 0 0 1000px #fff inset;-webkit-transition:background-color 5000s ease-in-out 0s;-o-transition:background-color 5000s ease-in-out 0s;transition:background-color 5000s ease-in-out 0s;color:#393939}
@font-face {
  font-family: 'Comfortaa-Light,Arial';
  src: url('../fonts/Comfortaa-Light.eot');
  src: url('../fonts/Comfortaa-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Comfortaa-Light.woff2') format('woff2'),
  url('../fonts/Comfortaa-Light.woff') format('woff'),
  url('../fonts/Comfortaa-Light.ttf') format('truetype'),
  url('../fonts/Comfortaa-Light.svg#Comfortaa-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa-Bold,Arial';
  src: url('../fonts/Comfortaa-Bold.eot');
  src: url('../fonts/Comfortaa-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Comfortaa-Bold.woff2') format('woff2'),
  url('../fonts/Comfortaa-Bold.woff') format('woff'),
  url('../fonts/Comfortaa-Bold.ttf') format('truetype'),
  url('../fonts/Comfortaa-Bold.svg#Comfortaa-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa-Regular,Arial';
  src: url('../fonts/Comfortaa-Regular.eot');
  src: url('../fonts/Comfortaa-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Comfortaa-Regular.woff2') format('woff2'),
  url('../fonts/Comfortaa-Regular.woff') format('woff'),
  url('../fonts/Comfortaa-Regular.ttf') format('truetype'),
  url('../fonts/Comfortaa-Regular.svg#Comfortaa-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat_alternatesregular';
  src: url('../fonts/montserratalternates-regular.woff2') format('woff2'),
  url('../fonts/montserratalternates-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
.custom-select-sm{padding:5px 10px !important;font-size: 14px !important;}
body{font-family: "Poppins", sans-serif !important;}

.pb0{padding: 0 !important;margin:-15px 0;}
.tab-pane{
    .name{margin:10px 0 20px 0;}
}
.on-off{margin: 10px 0;}
.container-fluid{min-width: 1050px;}
$si: #393939;
$sari: #f3dc19;
$mavi : #2196f3;
$gri: #3c4858;
$i: !important;
/*$montserrat: 'Poppins', sans-serif,Arial;
$montserrat: Comfortaa-Light,Arial;
$montserrat: 'Poppins', sans-serif,Arial;*/

$montserrat:'Poppins', sans-serif;
@-moz-document url-prefix() {
    .row {
        clear:both;
    }
}
.mb0{margin: 0 $i;}
.m_b{margin-bottom: 15px;}
.p0{padding: 0 $i;}
.hidden{display: none;}
.pl{padding-left: 0 $i;}
.pr{padding-right: 0 $i;}
.no-bg{border: 1px solid #CECECE $i;padding: 8px 20px $i;font:16px $montserrat $i;color:$si $i;border-radius: 5px $i;}
.selectator_options{margin-bottom: 10px !important;background: #f8f9fa !important;}
.selectator_options li{font-size:14px;padding: 4px 0;}
.selectator_element{padding:5px 30px 5px 10px $i;
    input{height:40px $i;}
}
.langbox{float:right;padding: 5px 0 0 15px;position: relative;
    ul{float:left;width:100%;
        li{float:left;width:100%;position: relative;
            a{display: block;position: relative;font: 17px 'Poppins', sans-serif;color: #1b1b1b;padding: 0 5px;
               /* &:before{transition: 0.3s; content: ""; background: url(../images/select.png) no-repeat; display: block; width: 18px; height: 12px; position: absolute; right: 0; background-position: 0 0; top: 50%;margin-top: -3px;}*/
            }
            ul{display: none;position: absolute;width: 100%;border: 1px solid #393939;background: #fff;top:32px;
                li{
                    a{color: #1b1b1b; padding: 3px 0; text-align: center; font-size: 12px;
                        &:before{display: none;}
                    }
                }
            }
        }
    }
}
ul{margin:0 $i;padding: 0 $i;
    li{list-style-type: none;}
}
.text-center{margin: 0 auto;display: block $i;}
select,a,button,img,table,tr,td{outline:0 $i;text-decoration: none $i;}
.btn-primary{border:1px solid transparent $i;}
.btn{vertical-align: inherit $i;font: 17px $montserrat;
    i{margin: 1px 5px 0 5px $i;}
}
.btn-primary{background: $mavi $i;color:#fff $i;}
.language-header{float: left;
    width: 100%;
    line-height: 0;
    padding: 5px 0;}
body{background: #F3F4F9 $i;}
.detail-metas-control-v2-wrapper{padding:0 15px;}
table tr td a span{margin:0 5px;}
.p-30{padding:0 30px 30px 30px;float: left;width: 100%;}
.fs-13{font-size:13px;}
.topPage{padding:20px 30px;border-bottom:1px solid #eee;float:left;width:100%;}
.modal-title{
    a{margin: -4px 12px;}
}
.page{margin:80px 0 0 0;}
header{background: #fff !important;float:left;width:100%;box-shadow: 0 1px 7px 0 rgba(224, 224, 224, 0.28);position: fixed;z-index: 60;
    .container-fluid{position: relative;}
    i.bg{transition: 0.7s; position: absolute; background: #fff; left: 0; height: 0; width: 100%; z-index: 9; top: 75px;box-shadow: 0 4px 15px #fbfbfb;}
    .logo{float:left;padding: 25px 0;}
    .menu{float:right;
        .left{float:left;
            ul{float:left;width:100%;padding: 0;
                li{float:left;
                    &:hover{
                        a{
                            &:before{transition: 0.3s;height:5px;}
                        }
                    }
                    a{font:16px $montserrat;color:$si;padding: 24px 15px;display: block;position: relative;
                        &:before{transition: 0.3s; content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 0; background: #1b1b1b;}
                    }
                    .submenu{display: none;
                        position: absolute;
                        width: 90%;
                        left: 0;
                        top: 80px;
                        padding: 0 0 0 15px !important;
                        z-index: 9;
                        text-align: right;
                        li{
                            display: inline-flex;
                            float: none;
                            padding: 0 15px;
                            width:200px;
                            &:last-child{padding-right: 0;}
                            ul{float: left;
                                width: auto;
                                display: grid;
                                text-align: left;
                                li{float: left; width: 100%; margin: 0;padding: 0;
                                    ul{
                                      display: none;
                                      margin: 10px 0!important;
                                      width: 190px;
                                      z-index: 9;
                                      padding: 8px 20px!important;
                                      top: -10px;
                                      left: 100px;
                                      background: #f9f9f9;
                                      position: absolute;
                                        li{
                                            a{font-size:13px $i;}
                                        }
                                    }
                                    a{transition: 0.3s; display: block; font: 14px 'Poppins', sans-serif; color: #1b1b1b; padding: 3px 0;
                                        &:before{display: none;}
                                        &:hover{transition: 0.3s;opacity: 0.6;}
                                    }
                                    &.head{font: 15px 'Poppins', sans-serif; color: #1b1b1b;width: auto; margin: 0 0 5px 0;font-weight: 500;}
                                }
                            }
                        }
                    }
                }
            }
        }
        .right{float:right;padding: 17px 0;
            .author{margin-left: 30px;padding: 6px 0 6px 0;}
            .sites{padding: 6px 0 6px 15px;}
            .author,.sites{float:right;
                ul{float:left;width:100%;
                    li{float:left;width:100%;position: relative;
                        &.open{
                            a{
                                &:before{transition:0.3s;transform: rotate(180deg);}
                            }
                        }
                        ul{display: none;position: absolute; background: #fff; top: 53px;z-index: 9;box-shadow: 0 1px 7px 0 rgba(224, 224, 224, 0.28);
                            li{
                                &:last-child{
                                    a{border:none;}
                                }
                                a{transition:0.3s;padding: 10px 15px;font:14px $montserrat;border-bottom: 1px solid #ddd;
                                    &:hover{transition:0.3s;opacity:0.7;}
                                    &:before{display: none;}
                                }
                            }
                        }
                        a{font:16px $montserrat;color:$si;display: block;position: relative;padding-right: 30px;
                              &:before{transition:0.3s;content:"";background: url(../images/select.png)  no-repeat;display: block; width: 18px; height: 12px; position: absolute; right: 0; background-position: 0 0; top: 50%;margin-top: -3px;}
                            .images{float: left; margin:0 10px 0 0;
                                img{border:1px solid #fff;max-width: 100%;border-radius: 50%;}
                                @include resimatt(100%,100%);
                            }
                        }
                    }
                }
            }
        }
    }
}
.jsgrid-header-cell{font-size:13px $i;}
.jsgrid-cell{font-size:11px;}
.jsgrid-filter-row>.jsgrid-cell select{min-width: 100%;
    background: #fff;
    -webkit-appearance: button;
    padding-right: 15px;}
form .form-group textarea{font-size:14px;}
.details-wrapper{
    label{position: initial $i;}
}
.ms-container .ms-selectable li.ms-elem-selectable, .ms-container .ms-selection li.ms-elem-selection{padding: 8px;}
.modal-title{font-size:16px;}
.fs-14{font-size:14px $i;}
.container-fluid{max-width: 1260px;}
.title{font:20px $montserrat;color:$si;margin:0 0 15px 0;}
select{font:14px $montserrat $i;color:$gri;border: 1px solid #d2d2d2;padding:5px 40px 5px 10px;border-radius: 5px;min-width: 138px;cursor: pointer;-webkit-appearance: none;background: url(../images/path.png) right 10px center #fff no-repeat;width: auto;
    option{font:14px $montserrat;color:$gri;outline:0 $i;padding:10px 0;}
}

.checkbox{
    label{position: inherit $i;cursor: pointer;margin:0 10px 0 0;font: 15px 'Poppins', sans-serif; color: #646464;}
    .active{
        .iradio_square-blue{width: 22px; background: url(../images/radio2.png) center center no-repeat;
            &.checked{background-position: -61px 0}
        }
    }
    .passive{
        .iradio_square-blue{width: 22px; background: url(../images/radio2.png) center center no-repeat;
            &.checked{background-position: 0 0;}
        }
    }
    input{opacity: 0;}
    .icheckbox_square-blue{transition:0.3s;margin-right: 8px;height: 19px;float:left; display: inline-block; vertical-align: middle; padding: 0; width: 20px; background: url(../images/icheck.png) center center no-repeat; border: none; cursor: pointer; background-position: -40px;
        &.checked{transition:0.3s;background-position: 0;}
        input{margin:0;}
    }
}
.page{float:left;width:100%;padding: 15px 0;
    .page-content{
        float: left; width: 100%; background: #fff; padding: 30px;box-shadow:0 1px 7px 0 rgba(224, 224, 224, 0.28);border-radius: 4px;
        &.pop{
            .center {
                form {
                    .form-group {
                        input[type="text"]{margin-right: 15px}
                    }
                    .item{
                        &:first-child{
                            .form-group{
                                width: 50px $i;
                            }
                        }
                    }
                }
            }
        }
    }
}
.modal-body{
    .pager.wizard{    padding: 10px !important;
        box-shadow: initial !important;
        background: #fff;
        position: inherit !important;
        margin: 0 !important;}
}
.breadcrumb{float: left; width: 100%; background: none $i; padding: 0 $i; margin:0 0 20px 0 $i;
    ul{float: left;width: 100%;
        li{float: left;margin-right: 5px;
            &:last-child{
                a{
                    &:after{display: none;}
                }
            }
            a{display: block; font: 13px $montserrat; color: #393939;background: none;position: relative;padding-right: 20px;
                i{display: none $i;}
                &:after{content: "";background:url(../images/bre.png)no-repeat center;padding: 0 5px; position: absolute; right: 2px; top: 50%;width: 7px; height: 11px;margin-top: -5px;}
            }
        }
    }
}

i.status_circle{
    display: inline-block;text-align: center;margin: 0 auto;width: 14px;height: 14px;vertical-align: middle;border-radius: 50%;
    &.active{background: #7fcc46;}
    &.passive{background: #d3d3d3;}
    &.pending{background: #e4c703;}
    &.danger{background: #fb0b16;}
}

table{display: inline-table; border-collapse: collapse; border-bottom: 1px solid #e8e8e8; float: left; width: 100%;margin:20px 0;
    &.gray{
        tbody{
            tr{
                &:nth-child(even){
                    td{background: #F1F1F1;}
                }
            }
        }
    }
    thead{
        tr{
            th{font: 14px $montserrat; color: #393939;padding:10px;border-bottom: 2px solid #e8e8e8;border-top:none $i;
                .checkbox{margin: 0 $i;}
                /*&:last-child{width: 20px;}*/
            }
            td{padding: 10px;
                select{border:none;border-bottom:1px solid #d2d2d2;border-radius: 0;font-size: 13px !important;padding: 10px 0;background-position: right center;
                    option{padding: 15px;}
                    &:before{content:"";display: block;}
                }
                input{border: 1px solid #f6f6f6;text-align: center;height:35px;outline:0;font: 13px $montserrat; color: #272727;padding: 0 10px;}
            }
        }
    }
    tr{
        td{font: 13px $montserrat; color: #393939;padding: 8px 10px;border-bottom: 1px solid #e8e8e8;
            /*&:nth-child(1){width:10px;}*/
            select{float:right;background: url(../images/path1.png) right 8px center #fff no-repeat;}
            .images{height: 34px; width: 34px; border-radius: 50%;overflow: hidden;
                &.slider{width:130px $i;height:30px $i;border-radius: 0;}
                img{max-width: 100%;}
            }

            a{transition:0.3s;color: #5c5c5c;
                &:hover{transition:0.3s;color:$sari;}
            }
        }
    }
}
.min-100{
    select{min-width: 100%;width: 100%;}
}
.name{font: 16px $montserrat; color: #2196f3; margin: 0 0 10px 0;}
.pagination{
    li{
        &.active{
            span,a{border:1px solid #d2d2d2 $i;}
        }
        span,a{font:13px $montserrat;color:$si $i;border-radius:4px $i;padding: 3px 10px;border:1px solid #fff $i;outline:0 $i;background: none $i;display: block;box-shadow:inherit $i;min-width: 30px;text-align:center;}
    }
}
.edition{float:left;width:100%;
    ul{display:block;margin:0 auto $i;text-align: center;
        li{display: inline-block;margin:0 10px;font: 13px $montserrat; color: #6b6b6b;
            &:before{content: ""; float: left; display: block; width: 8px; height: 8px; border-radius: 50%; margin: 4px 7px;}
            &:first-child{
                &:before{background: #7fcc46;}
            }
            &:nth-child(2){
                &:before{background: #d3d3d3;}
            }
            &:nth-child(3){
                &:before{background: #e4c703;}
            }
            &:last-child{
                &:before{background: #fb0b16;}
            }
        }
    }
}
#bar{background: none;height:inherit;margin-top: -4px;position: relative; border-radius: 0 $i;display: none $i;}
.progress-bar{transition: 0.3s; height: 6px; background: #2196f3;margin-top:1px;border-radius: 0 $i;}
.rootwizard{
    .navbar{padding: 0;border-bottom: 1px solid #e5e5e5;}
    .navbar-inner{width: 100%;}
    .container{padding: 0;}
    .nav-pills{
        li{text-align: center;
            margin: 0 20px 0 0;
            a{font: 16px 'Poppins', sans-serif;
                padding: 18px 10px;
                display: block;
                transition: 0.4s;
                color: #646464;
                position: relative;
                &:before{transition:0.4s;content:"";position: absolute;bottom: -10px;left:0;width: 100%;height:5px;background: $mavi;opacity: 0;}
                &.active{color:$mavi;
                    &:before{transition:0.4s;bottom: 0;opacity: 1;}
                }
            }
        }
    }
}
.pager.wizard{position: fixed;bottom: 0;background: #fefeff;width: 100%;left: 0;padding: 12px 130px !important;box-shadow: 2px 3px 7px 0 #a2a2a2;z-index: 9;}
button.close{
    color: #f3dc19;font-size: 40px;opacity: 1;line-height: 23px;transition: .4s;
    &:hover{color:#007bff;}
}
.pager{float:left;width:100%;margin:40px 0 0 0 $i;
    li{float:right;margin:0 0 0 10px;
        &.disabled{display: none;}
        &.previous{
            a{font: 16px $montserrat;color: #696969;margin: 7px 0 0 0;display: block;
                i{margin-right:10px;}
            }
        }
        i{margin:0;}
        &:first-child{float:left;}
    }
}
.tab-content{padding: 20px 0;float: left;width: 100%;}
.tab-pane{display: none;
    &.show{display: block;}
}
.nav-tabs{
    li{
        width:auto $i;margin:0 $i;padding: 0 40px 0 0;
        &.disabled{
            a{pointer-events: none;opacity: 0.5;}
        }
        i{float: right;/*margin: -26px -24px;*/}
        a{position:relative;font: 14px 'Poppins', sans-serif; color: #646464; border: none; background: none; padding: 10px 0;display: block;
            &.active{
                &:before{content: ""; width: 100%; position: absolute; height: 3px; background: #2196f3; bottom: 0; left: 0;}
            }
        }
    }
}
form{
    /*.row{float:left;width:100%;}*/
    .form-group{position: relative;padding: 0; float: left; width: 100%;
       /* &.focus{
            label{transition: 0.2s;top:0;color:$mavi;}
            input{transition: 0.2s;border-color: #2196f3;}
            textarea{transition:0.2s;border-color:$mavi;}
        }*/
        label{transition: 0.2s; font: 15px $montserrat; color: #646464; }
        /*input{transition: 0.2s; outline: 0; height: 40px; background: none; width: 100%; border: none; border-bottom: 1px solid #b5b5b5;font:13px $montserrat;}*/
        input{display: block;
            width: 100%;
            height: calc(2.25rem + 2px);
            padding: .375rem .75rem;
            font-size: 14px;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
        textarea{transition:0.2s;outline:0;height:100px $i;background: none;width:100%;border:1px solid #d0d5dc;overflow: hidden;resize:none;}
        small{transition: 0.2s; font: 12px $montserrat; color: #646464;float: left;width: 100%;}
        .images{padding: 15px;background: #ececec;position: relative;height: 160px;width: 100%;
            img{max-width: 100%;display: block;margin: 0 auto;}
        }
    }
}
.dd-list.dd-dragel{
    span{display: none;}
}
#sitemap_slugs_table{
    .form-group{margin:0;
        label{display: block;}
        input{
            font-size: 14px !important;
            padding: 0 8px !important;}
    }
}
.accordion-pane{
    .name{margin:0 0 10px 0;}
    .form-group{margin: 0;}
}
table{
    .input-group-prepend{font-size:13px;
        span,strong{font-size:13px;}
    }
}
.extra{float:left;width:100%;display: block; text-align: center; margin: 0 auto;padding:0 0 12px;background: #ececec;
    a{display: inline-block;margin:0 5px;
        i{color:$mavi;cursor: pointer;}
    }
}
.file { position: absolute;left: 0;top: 0;opacity: 0; }
.on-off{
    ul{border:none $i;display: table-cell;vertical-align: middle;float:none $i;padding: 0 20px;
        li{float:left;margin-right: 25px;font:15px $montserrat;letter-spacing: 1px;cursor: pointer;
            label.switch-toggle {border:2px solid #b5b5b5;border-radius: 15px;height:14px;position: relative $i;top:5px $i;width:38px $i;text-indent: -9999px;
                &:before{content:"";transition:0.3s;width: 20px; height: 20px; background: #2296f3; border-radius: 50%; display: block; position: absolute;top:-5px;left:0;}
            }
            label.switch-toggle.on {background: $mavi;
                &:before{transition:0.3s;left:20px;}
            }
            span{font:15px $montserrat;color:$mavi;margin-right:5px;}
            input{display: none;}
        }
    }
}

.upload-list{float:left;width:100%;margin:35px 0;
    ul{float:left;width:100%;
        li{ float:left;width:215px;position: relative;background: #ececec;margin-right: 10px;border: 1px solid #ccc;cursor: -webkit-grab; }
    }
}
.url-detail-lang{padding: 20px 0;}

.similar{float:left;width:100%;margin:40px 0;
    .item{float:left;width:100%;margin-bottom: 10px;
        &.delete{
            .add-button{
                &:before{content:"-";}
            }
        }
        select{float:left;width:95%;}
        .add-button{
            float:right;width:40px;
            &:hover{
                &:before{transition:0.3s;background: $sari;}
            }
            &:before{transition:0.3s;content:"+";background: #2196f3; color: #fff;width: 40px;height: 39px; border-radius: 4px; float: right;text-align:center;cursor: pointer;font-size: 28px;line-height: 33px;}
        }
        a{background: #ececec;display: table;min-height:110px;padding: 15px;float: left;width: 100%;}
        .images{height:80px;width:110px;display: table-cell;vertical-align: middle;
            @include resimatt(100%,100%);
        }
        .text{font:16px $montserrat;color:$mavi;display: table-cell;vertical-align: middle;padding: 0 20px;}
    }
}

.tabSelectBox{
    .lastText{font-size:13px $i;
        span{display: block;}
    }
    .bootstrap-select{border-radius: 4px;}
    .dropdown-toggle{height: auto;border-radius: 4px;font-size:13px $i;}
    select{width: 100%;}
}
.alert{overflow: hidden;}
div#kriter{margin-bottom: 20px;}
.slidepage.row.mb0.upload-list{margin-top:20px $i;}
.form-group{
    .tit{font-size: 15px;margin: 0 0 10px 0;}
}
.tab-list{float:left;width:100%;
    .checkbox{float:left;margin:0;
        label{padding: 0;margin:0;font:15px $montserrat;color:$si;margin-right:15px;cursor: pointer;min-width: 200px;margin-bottom: 5px;}
        .icheckbox_square-blue{ transition:0.3s;margin-right: 8px;height: 19px;float:left; display: inline-block; vertical-align: middle; padding: 0; width: 20px; background: url(../images/icheck.png) center center no-repeat; border: none; cursor: pointer; background-position: -40px;
            &.checked{transition:0.3s;background-position: 0;}
            input{margin:0;}
        }
    }
    p{
        font: 15px 'Poppins', sans-serif;color: #1b1b1b;
    }
    .title{font:20px $montserrat;color:#646464;margin: 0 0 15px 0;}
    .tab{height: 100%;
        float: left; width: 100%;border-right: 1px solid #e5e5e5;
        a{
            float: right;width: 100%;background: none;border: none;text-align: left;font: 15px 'Poppins', sans-serif;color: #535353;padding: 5px 20px 5px 0;cursor: pointer;
            &.active{
                color: #2196f3;
            }
        }
    }
    .txt{
        font: 15px 'Poppins', sans-serif;color: #1b1b1b;padding: 10px 0 0;
    }
    .tabcontent{
        display: none;float: left;width: 100%;
        &.active{display: block;}
        .form-group{
            margin: 0 0 9px;overflow: initial;
        }


    }
}

.boxes{
    border: 1px solid #C2C2C2; padding: 30px; float: left;width: 100%;box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    h2{margin: 0;line-height: 20px;
        a{font:18px 'Roboto', sans-serif;color: #1a0dab;
            span{display: block; color: #006621 $i;font:14px 'Roboto', sans-serif $i;padding: 0 $i;}
            i{font:18px 'Roboto', sans-serif;color: #1a0dab;}
        }
    }
    p{color: #545454;font:13px 'Roboto', sans-serif;margin: 2px 0;
        b{font-family: 'Roboto', sans-serif;}
    }
}


.items{float:left;width:100%;border-bottom: 5px solid #f1f1f1;padding: 0 0 20px 0;}
.accordion{margin:15px 0 $i;float: left;width: 100%;
    &.seo{display: none;}
    p{font: 15px/24px 'Poppins', sans-serif;color: #646464;}
    .card{float:left;width:100%;margin:0;
        border-radius: inherit;border: none;
        .card-header{
            padding: 0;background:#e9ecf0;border-radius: inherit;margin: 0 0 8px 0;border: 1px solid #e9ecf0;
            h5{
                button{
                    display: block;color:#5b6168;text-decoration: none;border-radius: inherit;width: 100%;text-align: left;position: relative;
                    &:before{content:"-";position: absolute;top:0;right: 0;color:#626870;transition: .4s;font-size: 27px;margin: -3px 15px;}
                    &.collapsed{
                        &:before{content:"+";margin: 0 15px;}
                    }
                }
            }
        }
        .card-body{padding: 15px 0 $i;
            label{
                i{
                    font-style: normal;
                    font-size: 10px;
                }
            }
        }
    }
}



.pass-box{
    float:left;width:100%;margin:0 0 40px 0;
    &.right{border-left: 1px solid #bcbcbc;padding: 0 30px;
        .checkbox{
            &:first-child{
                label{color: green;}
            }
        }
    }
    input{outline:0;border:1px solid #b5b5b5;height: 35px;padding: 6px 12px;width:100%;border-radius:4px;font:14px $montserrat;}
    .form-group{margin:0 0 6px 0; float:left;width:100%;
        select{width: 100%;}
        &.focus{
            label{    color: #646464 $i;}
        }
    }
    .checkbox{
        label{
            padding: 0;
        }
        .icheckbox_square-blue{transition:0.3s;margin-right: 8px;height: 19px;float:left; display: inline-block; vertical-align: middle; padding: 0; width: 20px; background: url(../images/icheck.png) center center no-repeat; border: none; cursor: pointer; background-position: -40px;
            &.checked{transition:0.3s;background-position: 0;}
            input{margin:0;}
        }
        .iradio_square-blue{transition:0.3s;margin-right: 8px;height: 20px;float:left; display: inline-block; vertical-align: middle; padding: 0; width: 20px; background: url(../images/radio.png) center center no-repeat; border: none; cursor: pointer; background-position: 0;
            &.checked{transition:0.3s;background-position: -30px;}
            input{margin:0;}
        }
    }
    .datepicks{display: none;margin: 10px 0 0;
        input{opacity: 1 $i;border:1px solid #b5b5b5;padding: 0 15px $i;background: url(../images/path.png) right 10px center #fff no-repeat; height: 40px;}
    }
}

.boxesall{
    padding: 50px 0 0;float: left;width: 100%;
}
.not{
    float: left;width: 100%;color: #646464;font: 12px 'Poppins', sans-serif;margin: 20px 0;
}

.cat-list{
    float:left;width:100%;padding: 35px 0;
    ol{float:left;width:100%;list-style-type: none;margin: 6px 0;
        li{float:left;width:100%;margin-bottom: 6px;position:relative;
            .dd-handle{position:relative;border:1px solid #e6e6e6;display:block;box-shadow: 0 1px 7px 0 rgba(224, 224, 224, 0.28);font:15px $montserrat;color:#646464;padding: 15px 50px;border-radius: 4px;}
            /*span{float:left;left: 20px;top:15px;background: url(../images/ic1.png)center center no-repeat;cursor: pointer; z-index: 1; height: 20px; width: 20px; position: absolute; font-weight: bold; color: white;}*/
          span{position: relative !important;top: initial;left: initial !important;padding-left: 0 !important;margin: 16px 7px;float: left !important;
            &.delete{margin-left:15px !important;}
          }
        }
    }
    > div {
        > .dd-list{
            padding: 0;
        }
    }
}
.alert{
    p{margin:0;}
}
.modal-header{
    div{margin: -4px 0 0 20px;}
    .btn-primary{padding: .25rem .5rem;font-size: .875rem;line-height: 1.5;border-radius: .2rem;}
}
.modal-body{padding: 0 1rem $i;}
.modal-body{
    .slidepage ul{margin:20px 0 $i;}
    .float-right{
        button{margin:0 0 15px 0;}
    }
    .tab-content{padding:12px 0 $i;
        .tab-pane{
            .tab-pane{padding: 20px 0 0 0;}
        }
    }
}
.ms-container .ms-selectable li.ms-elem-selectable, .ms-container .ms-selection li.ms-elem-selection{padding: 5px 10px $i;}
.alert-info{font-size: 15px;padding: 8px $i;border-radius: 0 $i;margin: 10px 0;
    button{font-size: 28px;padding: 8px 10px $i;}
}
.input-group>.form-control,.input-group-text{font-size:14px $i;}
input{-moz-appearance: none;
    -webkit-appearance: none;}
.dd-item,.dd-empty,.dd-placeholder {display: block;position: relative;margin: 0;padding: 0;min-height: 20px;font-size: 13px;line-height: 20px;}
.dd-empty {border: 1px dashed #bbb;min-height: 100px;background-color: #e5e5e5;background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);background-image: -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);background-size: 60px 60px;background-position: 0 0, 30px 30px;}
.dd-dragel {position: absolute;pointer-events: none;z-index: 9999;}
.dd-dragel > .dd-item .dd-handle {margin-top: 0;}
.dd-dragel .dd-handle {-webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);}
.dd-item span {cursor: pointer;float: right;z-index: 1;height: 20px;width: 20px;position: absolute;top: -30px;font-weight: bold;color: white;}
.table-advance tbody>tr:hover,.table-advance tbody>tr:hover td {background: #fffbcc $i;}
.dd-handle:hover{cursor: -webkit-grab;}
.dd-dragel .dd-handle {color: #fff;background: #339933;cursor: -webkit-grabbing;padding: 10px;}
.dd-dragel,.dd-dragel:hover{cursor: -webkit-grabbing;}
.dd-item > button {color: white;display: block;position: relative;cursor: pointer;float: left;width: 25px;height: 20px;margin: 5px 0;padding: 0;text-indent: 100%;white-space: nowrap;overflow: hidden;border: 0;background: transparent;font-size: 12px;line-height: 1;text-align: center;font-weight: bold;}
.dd-item > button:before {content: '+';display: block;position: absolute;width: 100%;text-align: center;text-indent: 0;}
.dd-item > button[data-action="collapse"]:before {content: '-';}
.dd-placeholder,.dd-empty {float:left;width:100%;margin: 5px 0;padding: 0;min-height: 30px;background: #f2fbff;border: 1px dashed #b6bcbf;box-sizing: border-box;-moz-box-sizing: border-box;}.datepicker { background: #fff;font:14px 'Poppins', sans-serif; padding: 4px; border: 1px solid #bebebe; border-radius: 4px;}
.orjgenel{position:fixed;top:50%;left:50%;margin-left:-400px}.orj{position:absolute;top:3px;z-index:500;max-width:800px;border:solid 2px #000;height:250px}
.orj img{max-width:800px;max-height:100%}
.ui-accordion-header-icon {background:none $i;}
#accordion{margin-bottom: 30px;
    .card-header{background: #eee;border:none;padding: 0;
        h5{float:left;width:100%;
            button{float:left;width:100%;text-align: left;font: 16px 'Poppins', sans-serif;color: #1b1b1b;}
        }
    }
}
.card{border-radius: 0 $i;margin:8px 0;}
.card-body{
    .form-group{padding: 5px 0;
        span{ float: left; font: 14px 'Poppins', sans-serif; min-width: 100px; }
        .checkbox{margin: 0;}
    }
    .accordion{ padding: 0 0 0 100px;
        .sub {margin: 0 0 0 80px;}
        .ui-widget-content{border:none;}
        h3{
            border:none;border-radius: inherit;transition: 0.3s;background: #eee;font: 14px 'Poppins', sans-serif;color: #1b1b1b;margin: 0 0 10px 0;outline: none;
            &.ui-state-active{ background: #f3dc19; color: #1b1b1b;
                span{
                    &:before{
                        transform: rotate(-180deg);height: 8px;
                    }
                }
            }
            span{ float: right;position: relative; }
        }
        .form-group{
            span{
                font-size: 13px $i;
            }
            label{
                font-size: 15px $i;
            }
            &:last-child{border-bottom: none;}
        }
    }
}
.checkbox{
    &.multiline {
        label {
            display: block;
            overflow: hidden;
            margin: 0 10px 10px 0;
        }
    }
}

.social-map {
    select{margin: 12px 0 0;}
    .add-button {
        margin: 23px 0 0 0;
        position: relative;
        z-index: 9;
    }
}

.top-button{float:right;
    ul{float:left;width:100%;
        li{float:left;margin-left:10px;
            a{transition: 0.3s; background: #2196f3; cursor: pointer; border: 1px solid #2196f3; font-weight: inherit $i; color: #fff; font: 14px 'Poppins', sans-serif; border-radius: 6px; padding: 6px 10px; text-align: center; float: right;
            }
        }
    }
}
.delete{
    .plus-button{
        &:before{content:"-";}
    }
}
.plus-button{float:right;
    &:hover{
        &:before{transition:0.3s;background: $sari;}
    }
    &:before{transition:0.3s;content:"+";background: #2196f3; color: #fff;width: 37px;height: 37px; border-radius: 4px; float: right;text-align:center;cursor: pointer;font-size:25px;line-height: 32px;}
}
.lang-box{
    float:left;width:100%;
    .row{
        margin: 0;
        > div{padding: 0;}
    }
    .text{
        float:left;width:100%;border: 1px solid #2196f3; padding: 15px 12px;display: none;
        ol{float:left;width:100%;padding: 0;
            li{font:14px $montserrat;color: #787878;margin: 0;list-style-type: none;padding: 10px 8px;
                img{float:left;margin:-4px 15px 0 0;}
                &:nth-child(even){background:#eee;}
            }
        }
    }
    .form-group{
        margin-bottom: 8px;float:left;width:100%;padding: 0 12px 0 0;
        label{position: initial;font:15px $montserrat;color:#535353;margin:3px 10px 0 0;float:left;}
        &.desc{
            label{float:left;}
            i{font:13px $montserrat;color:$mavi;padding: 0 5px;}
        }
        input:focus::-webkit-input-placeholder { color:transparent; }
        input:focus:-moz-placeholder { color:transparent; }
        input:focus::-moz-placeholder { color:transparent; }
        input:focus:-ms-input-placeholder { color:transparent; }
        textarea{width: 60% $i;outline:0;font:15px $montserrat;resize: none;color:#535353;border:1px solid #d2d2d2;border-radius: 4px;padding: 10px 15px;background: #fff;}
        input{font-size: 15px;
            height: auto;}
    }
    form{
        .border-sub{
            float:left;width:100%;border-top:1px solid #e5e5e5;margin:30px 0 0 0;padding: 20px 0 0;
        }
    }

    .bootstrap-tagsinput {
        padding: 0;border:none;box-shadow: inherit;width: 60%;
        span{ background-color: #fafafa; display: inline-block $i; margin: 0 5px 8px 0; padding: 3px 10px; font-size: 12px $i; border-radius: 2px; border: 1px solid #dcdcdc; color: #535353 $i;
            span{ padding: 0; margin: 0 0 0 10px; float: right; border: none; cursor: pointer
            }
        }
        input{width: 100%$i;border: 1px solid #d2d2d2 $i;}
    }
    .edit-center{
        max-width: 500px;margin: 20px auto;display: none;
        .tab-content{
            .form-group{
                label{min-width: 100px;}
            }
        }
    }
    .fm{margin-bottom: 8px;}

    .edit{float:left;width:100%;display: none;
        .tab-content{
            .form-group{
                label{min-width: 100px;}
            }
        }
    }
    .item{float:left;width:100%;padding: 3px 0;
        &:first-child{
            background: none $i;
            span{border-bottom: 1px solid #e5e5e5;}
            .col-2{
                span{
                    padding: 0 0 8px 0;
                }
            }
        }
        &.open{
            button{
                &:after{transition:0.3s;content:"-";color:$mavi;margin-top:-7px $i;}
            }
            span,button{transition:0.3s;color:$mavi;}
        }
        &:nth-child(odd){background: #f6f6f6;}
        span{
            transition:0.3s;font:14px $montserrat;color:#646464;padding: 4px 8px;display: block;
        }
        button{
            transition:0.3s;font:14px $montserrat;color:#646464;position: relative;top: 3px;display: block;text-align: right;padding: 0 30px 0 0;border:none;background: none;float: right;cursor: pointer;line-height: 27px;
            &:hover{transition:0.3s;color:$mavi;
                &:after{transition:0.3s;color:$mavi;}
            }
            &:after{transition:0.3s;content:"+";width:14px;font:25px $montserrat;color:#262626;float:right;margin:-5px 0 0 10px;}
        }
    }
}

.m_t{margin-top: 0 $i;}

.dropify{height: 100% $i;}
.checkbox{margin: 10px 0;}

.iradio_square-blue{
    transition:0.3s;margin-right: 8px;height: 20px;float:left; display: inline-block; vertical-align: middle; padding: 0; width: 20px; background: url(../images/radio.png) center center no-repeat; border: none; cursor: pointer; background-position: 0;
    &.checked{transition:0.3s;background-position: -30px;}
    input{margin:0;}
}

.dt-search{margin: 0 0 10px 0;
    input{min-width: 350px; height: 35px; border: 1px solid #f6f6f6; text-align: center; outline: 0; font: 15px 'Poppins', sans-serif; color: #3c4858;}
}

article{
    margin: 30px 0;
}
.form-group{
    .all{float:left;}
    &.title{
        i{ font: 13px 'Poppins', sans-serif; color: #2196f3; padding: 0 5px; }
    }
}
.social-map{
    .item{position: relative;float:left;width:100%;}
    .plus-button{position: absolute;right:0;top:0;}
}
.message-box{float:left;width:100%;
    .reply { float: left;width: 100%;margin: 30px 0 0;
        a{transition: 0.3s;float: left;background: #2196f3;border: 1px solid #2196f3;color: #fff;font: 17px 'Poppins', sans-serif;border-radius: 6px;min-width: 128px;padding: 7px;text-align: center;
        }
    }
    .item{float:left;width:100%;margin-bottom: 30px;
        h5{font:13px $montserrat;color: #727272;margin:0 0 10px 0;padding: 0 15px;}
        ul{ float:left;width:100%;
            li{min-height: 50px; padding: 10px 16px; font-size: 13px; animation-delay: 0ms;transition: background 150ms,padding .2s; background: #fff; box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
                .col-1{max-width: 50px;}
                .col-3 { -ms-flex: 0 0 25%; flex: 0 0 27%; max-width: 27%; }
                &.open{transition:0.3s;margin: 30px -40px;}
                &:nth-child(1){animation-duration:0.2s;}
                &:nth-child(2){animation-duration:0.4s;}
                &:nth-child(3){animation-duration:0.6s;}
                &:nth-child(4){animation-duration:0.8s;}
                &:nth-child(5){animation-duration:1.2s;}
                &:nth-child(6){animation-duration:1.4s;}
                &:nth-child(7){animation-duration:1.6s;}
                &:nth-child(8){animation-duration:1.8s;}
                &:nth-child(9){animation-duration:2.0s;}
                &:nth-child(10){animation-duration:2.2s;}
                &:nth-child(11){animation-duration:2.4s;}
                &:nth-child(12){animation-duration:2.8s;}
                &:nth-child(13){animation-duration:2.8s;}
                &:nth-child(14){animation-duration:2.6s;}
                &:nth-child(15){animation-duration:2.6s;}
                .checkbox{padding: 10px 0 0;margin: 0;
                    .iradio_square-blue{
                        transition:0.3s;margin-right: 8px;height: 20px;float:left; display: inline-block; vertical-align: middle; padding: 0; width: 20px; background: url(../images/radio2.png) center center no-repeat; border: none; cursor: pointer; background-position: 0;
                        &.checked{transition:0.3s;background-position: -30px;}
                        input{margin:0;}
                    }
                }

                .head{float:left;padding: 9px 0;
                    span{background: #757575;float:left;margin: -7px 5px -7px 0; color: #fff; width: 34px; border-radius: 50%; display: block;height: 34px; text-align: center; padding: 10px;font:12px $montserrat;letter-spacing: 1px;}
                }
                .float-right{
                    i{float: right;color: #999;font:12px $montserrat;margin-right:10px;padding: 8px 0;}
                }
                .detail-content{display:none;overflow: hidden;width:100%;padding: 20px 100px;
                    table{display: table;width:100%;
                        &:nth-child(2){margin:40px 0 0 0;
                            tbody{display: table;border-top:2px solid #f1f1f1;padding: 20px 0;
                                tr{background: none $i;
                                    td{color:#a0a0a0 $i;}
                                }
                            }
                        }
                        tbody{width:100%;}
                        tr{
                            &:nth-child(even){background: #f1f1f1;}
                            td{
                                font:13px $montserrat;color:#373737;padding: 10px;vertical-align: -webkit-baseline-middle;
                                img{margin: -5px 10px 0 0;float: left;}
                                &:first-child{width:20%;}
                                &:last-child{width:80%;}
                                ul{box-shadow: none $i;
                                    li{box-shadow: none $i;padding: 10px 0;min-height: inherit;background: none;}
                                }
                            }
                        }
                    }
                    p{font:16px $montserrat;}
                    form{float:left;width:100%;margin:20px 0;
                        .form-group{float:left;width:100%;position: relative;
                            &.focus{
                                label{transition:0.2s;top:0;color:$mavi;}
                                textarea{transition:0.2s;border-color:$mavi;}
                            }
                            label{transition:0.2s;font:15px $montserrat;color:#646464;position: absolute;top:18px;}
                            textarea{transition:0.2s;outline:0;height:100px $i;padding: 40px 0;background: none;width:100%;border:none;border-bottom:1px solid #b5b5b5;}
                        }
                        .submit{float:left;width:100%;
                            button,input{float:left;border:none;background: none;font:15px $montserrat;color:$mavi;letter-spacing: 1px;cursor: pointer;}
                        }
                    }
                }
            }
        }
    }
}

.chosen-select{
    width: 100%;
}

.chosen-container{
    .chosen-choices{ border: 1px solid #d2d2d2 $i;background-image:inherit $i; padding: 0 10px $i; border-radius: 5px;
    }
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"]{height: 37px $i;box-shadow: inherit $i;margin:0;font:15px 'Poppins', sans-serif;color:#3c4858;padding: 6px 0 7px 10px;}

@-webkit-keyframes hierarchical_slide{
    0%{opacity:1;-webkit-transform:translate3d(0,160%,0);transform:translate3d(0,160%,0)}
    33%{opacity:1}
    100%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}
@keyframes hierarchical_slide{
    0%{opacity:0;-webkit-transform:translate3d(0,160%,0);transform:translate3d(0,160%,0)}
    33%{opacity:1}100%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}
.hierarchical_slide{will-change:transform,opacity}
.hierarchical_slide>*{visibility:hidden;}
.hierarchical_slide_inView>*{animation-timing-function:cubic-bezier(.4,0,.2,1);animation-name:hierarchical_slide;visibility:visible;}

.lang-toggle{
    position: relative;margin: 0 0 -26px;
    span{
        display: block;cursor: pointer;
    }
    ul{
        display: none;position: absolute;top:100%;background: #ffffff;z-index: 5;
        li{
            margin: 3px 0;
            &.active{display: none;}
        }
    }
}

.pop{
    .name{font-size:14px $i;}
    .datepicks{float:left;padding: 0 15px 0 0;}
    .form-group{float: left;width: 100%;}
    h3{transition: 0.3s; background: #eee; font: 16px 'Poppins', sans-serif; color: #1b1b1b; margin: 0 0 10px 0; padding: 5px 15px; outline: 0; float: left; width: 100%; cursor: pointer;}
    .open{
        .content{display: block;}
    }
    .content{display: none;}
}
.time{
    input[type="text"]{width: 60px; height: 28px; border: 1px solid #ddd; text-align: center; padding: 5px; opacity: 1;}
}
.form-group.col-12{float:left;width:100%;
    .pa{padding: 0;}
    .input-group{padding: 0 20px;
        input{height:37px $i;}
    }
}

.lang{float:left;width:100%;position: relative;padding: 4px;
    .img{cursor: pointer;width:40px;display: block; text-align: center; margin: 0 auto;
        img{max-width: 100%;}
    }
    ul{display:none;float: left; width: 100%; border: 2px solid #dad5d5; padding:0 4px $i; position: absolute; background: #f1f1f1; top:37px;z-index: 20;
        li{float:left;width:100%;margin:2px 0;cursor: pointer;text-align: center;
            img{width:28px;}
        }
    }
}
.button-group{float:left;width:100%;
    button{float:right;margin: 0 4px}
}

.input-addon{
    label{color:$mavi;font:15px 'Poppins', sans-serif;}
    .input-group-text{background: $mavi;color:#ffffff;border-color:#ffffff;}
    .form-control{
        box-shadow: inherit !important;border:none;border-bottom: 1px solid $mavi ;border-radius: inherit;font:13px 'Poppins', sans-serif;
    }
}
.onn-off{
    .name1{
        color:$mavi;font:15px 'Poppins', sans-serif;float: left;
    }
    .name2{
        font:15px 'Poppins', sans-serif;float: left;letter-spacing: 1px;
    }
    label{
        width: 100%;cursor: pointer;
        .icheckbox_square-blue{
            border:2px solid #b5b5b5; height: 14px;border-radius: 15px;width: 38px;transition: .3s;float: left;margin: 3px 15px;
            &:before{
                content: "";transition: 0.3s;width: 20px;height: 20px;background: $mavi;border-radius: 50%;display: block;position: absolute;top: -5px;left: 0;
            }
            &.checked{
                background: $mavi;
                &:before{left: 20px}
            }
        }
    }
}
.center{margin:0 auto;width:480px;
    select{background: url(../images/path1.png) right 8px center #fff no-repeat;background-size: contain;padding-right: 48px;}
    form{
        .form-group{
            em{font:13px $montserrat;color:#393939;padding: 11px 10px; display: block; float: left;}
            &.addform{display:none;
                input{width:138px $i;}
            }
            .checkbox{overflow: hidden; float: left; margin: 0;
                label{min-width: inherit;}
            }
            label{position: initial $i;float: left; padding: 10px 0; margin:0 20px 0 0 $i; min-width: 135px;color:#393939 $i;}
            input[type="text"]{width: 300px; float: left; padding: 0 10px; height: 38px; border: 1px solid #CECECE; border-radius: 5px;}
        }
        .submit{float:left;width:100%;text-align: center;margin:40px 0 0 0;
            button,input{margin:0 auto;padding: 10px 15px;
                i{float: right; margin: 2px 0; padding: 0 0 0 40px; font-size: 20px;}
            }
        }
    }
}
.tab-list.tabSelectBox{padding-left: 20px;}
.slidepage{
    .form-group{position: relative;
        a{position: absolute;top: -22px;font:12px $montserrat;color:#28A9D9;}
    }
    select{width:100%;background: url(../images/path1.png) right 8px center #fff no-repeat;background-size: contain;padding-right: 48px;}
    input[type="text"]{border: 1px solid #CECECE $i; border-radius: 4px; height:38px;margin: 0 auto; float: none $i; display: block;padding: 10px $i;font:13px $montserrat $i;color:$si;}
    textarea{border: 1px solid #CECECE $i; border-radius: 4px; margin: 0 auto; float: none $i; display: block;padding: 10px $i;font:13px $montserrat;color:$si;}
    #result{position: absolute; right: 0; top: 0;}
    .crop-img{height: 185px;top:0;display: none;position: relative;
        button{position: absolute; background: #f3dc1a; z-index: 999; top: 0; border: none; right: -46px;}
    }
    .dropify-wrapper{height:185px;width: 230px;margin: 0 auto;}
    .item{margin-bottom: 35px $i;
        &:first-child{margin-bottom: 18px $i;}
    }

    .images{margin:0 auto;width:230px;height:185px;border: 1px solid #CECECE;border-radius: 5px;padding: 0 $i;
        @include resimatt(100%,100%);
        img{max-width: 100%;}
        img{height: 183px;object-fit: cover;border-radius: 4px;}
        u{font:14px $montserrat;color:$si;text-decoration: none;display: block;padding: 10px 0;width: 85%;overflow: hidden;}
    }
    .option{float:left;width:100%;position: relative;padding: 5px 0;  min-height: 25px;
        span{float:right;background: #fff; width: 33px; height: 33px; display: block; border-top: 0; padding-top: 6px; position: relative; top: 1px; z-index: 9;cursor: pointer;transition: .4s;
            &.open{
                box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16);top:0;
            }
            img{margin:0 auto;display: block;border:none;border-radius: 0;}
        }
        u{font-size: 12px;text-decoration: none;width: 80%;line-height: 15px;}
        ul{display: none;background: #fff; max-width: 135px; position: absolute; bottom: 33px; right: 13px; box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
            li{float:left;width:100%;margin:0;
                &:first-child{margin-top: 10px;}
                &:last-child{margin-bottom: 10px;}
                a{font:14px $montserrat;color:$si;display: block; padding: 2px 15px;
                    &:hover{background: #f1f1f1;}
                    img{float:left;margin: 2px 5px 0 0;border:none;border-radius: 0;}
                }
            }
        }
    }
    b{font:17px $montserrat;color:#393939;display: block;text-align: center;
        em{position: inherit; float: none; display: -webkit-inline-box; margin: 0 8px 0 0;}
    }
    em{font:17px $montserrat;color:#28A9D9;display: block; float: left; position: absolute; left: 0; top: 0;}
    .head{
        span{display: block;color:$si;font:18px $montserrat;margin: 0 0 20px 0;}
        i{font:13px $montserrat;}
        small{color:$si;font:13px/15px $montserrat;display: block; padding: 0 80px 0 15px; text-align: left; position: relative;}
    }
    .submit{float:left;width:100%;text-align: center;}
}
.static-page{
    ul{
        li{font:13px $montserrat;color:$si;float: left; width: 100%; margin: 8px 0;letter-spacing: 0.3px;
            span{min-width:150px;display: block;float: left;}
        }
    }
    .head{float:left;width:100%;font:15px $montserrat;color:$si;border-bottom: 1px solid rgba(112, 112, 112, 0.25098039215686274); padding: 0 0 5px 0;margin-bottom: 15px;letter-spacing: 1px;}
    .form-group{float:left;width:100%;font:13px $montserrat;color:$si;margin: 6px 0;line-height: 38px;
        input[type="text"]{border:1px solid #CECECE;height:38px;border-radius: 5px;padding: 10px;outline:0;width: 100%;}
        select{width:100%;height:38px;line-height: 12px;background: url(../images/path1.png) right 8px center #fff no-repeat;background-size: contain;padding-right: 48px;}
        label{width:100%;}
        .checkbox{margin:0;}
        .icheckbox_square-blue{background: url(../images/check-new.png)no-repeat;margin-top: -2px;height: 25px;width:25px;
            &.checked{background-position: -30px $i;}
        }
    }
}
@media only screen and (min-width:1px) and (max-width:1200px){
    .sites{display: none;}
}
@-webkit-keyframes stripes{from{background-position:0 0}to{background-position:60px 30px}}@keyframes stripes{from{background-position:0 0}to{background-position:60px 30px}}
.file-box{border: 2px solid #E5E5E5; height: 181px; width: 230px; margin: 0 auto;
    a{display: block;height: 100%; width: 100%;position: relative;background: #fff;
        .file-icon{color: #cfcfcf; font-size: 50px; text-align: center; display: block; position: absolute; width: 100%; top: 30px;}
        span.file-icon:before, [class*=" dropify-font-"]:before, [class^=dropify-font-]:before { font-family: dropify; font-style: normal; font-weight: 400; speak: none; display: inline-block; text-decoration: inherit; width: 1em; margin-left: .2em; margin-right: .2em; text-align: center; font-variant: normal; text-transform: none; line-height: 1em }
        span.file-icon:before { content: '\e800' }
        &:hover{background-size: 30px 30px; background-image: -webkit-linear-gradient(135deg,#F6F6F6 25%,transparent 25%,transparent 50%,#F6F6F6 50%,#F6F6F6 75%,transparent 75%,transparent); background-image: linear-gradient(-45deg,#F6F6F6 25%,transparent 25%,transparent 50%,#F6F6F6 50%,#F6F6F6 75%,transparent 75%,transparent); -webkit-animation: stripes 2s linear infinite; animation: stripes 2s linear infinite;}
    }
}
i.mx{position: absolute; left: 0; bottom: 48px; text-align: center; display: block; width: 100%;font:12px $montserrat;color:$si;}
.slidepage{
    ul{float:left;width:100%;
        li{width:18%;margin: 0 15px 20px 0;float:left;border:none;background: none;}
        .file-box{width:100% $i;}
        .images{width:100% $i;height:170px $i;background: none $i;}
        .option{padding: 0;
            ul{right:0;}
        }
    }
}
.col-2-5{width:20%;padding: 0 15px 0 0;margin-bottom: 20px;
    .file-box{width:100% $i;}
    .images{width:100% $i;height:175px $i;}
    .option{padding: 0;
        ul{right:0;}
    }
}
.upload-tab{
    sub{font: 13px 'Poppins', sans-serif; color: #828282; display: block; text-decoration: none;border-bottom: 1px solid #e5e5e5; padding-bottom: 20px; }
    b{font: 15px 'Poppins', sans-serif; color: #6f6f6f; display: block; margin: 0 0 5px 0;
        a{margin-left:10px;line-height: 17px;}
    }
}

.tab-content{
    .head{
        color:#393939;font:15px $montserrat;margin: 0 0 15px;
        img{margin-right: 10px;}
    }
    .box-list{
        float: left;width: 100%;border-bottom:1px solid rgba(112, 112, 112, 0.35);padding: 10px 0;
        .select-item{
            float: left;width: 100%;margin: 30px 0;
            .lists{
                float: left;width: 100%;color:#393939;font-size: 14px;margin: 10px 0;
                &.description{
                    input{font-size: 12px;}
                }
                &.slug{
                    input{font-size: 14px;}
                }
                small{
                    position: relative;display: block;font-size: 14px;margin: 8px 0;
                    em{
                        font-style: normal;color:#87C569;text-align: right;position: absolute;top:0;right: 0;
                        &.eksi{color:#FF0000;}
                    }
                }
                .ekle{
                    color:#393939;font-size: 14px;border:1px solid #CECECE;border-radius: 5px;background: #ECECEC;text-align: center;height: 38px;line-height: 36px;cursor: pointer;position: relative;padding: 0 0 0 35px;
                    &:before{content:"+";position: absolute;top:0;left: 0;border-right: 1px solid #CECECE;height: 36px;line-height: 33px;    font-size: 22px;font-weight: bold;width: 35px;}
                }
            }
        }
        .paraia-multi-select > .selected-items {
            position: relative;
            padding: 2px 80px 2px 2px;
        }

        .paraia-multi-select > .selected-items > .placeholder {
            display: inline-block;
            padding: 6.5px;
        }

        .paraia-multi-select > .selected-items > button {
            position: absolute;
            height: 28px;
            width: 28px;
            background-color: transparent;
            top: 7px;
            border: 2px solid transparent;
            cursor: pointer;
            transition: 0.2s;
        }
        .paraia-multi-select > .selected-items > .item {
            display: inline-block;
            background-color: #28A9D9;
            padding: 0 0 0 15px;
            line-height: 28px;
            border-radius: 14px;
            height: 28px;
            font-size: 14px;
            color: #fff;
            margin: 2px;
        }

        .paraia-multi-select > .selected-items > .item > button {
            background-color: transparent;
            color: #fff;
            border: 0;
            border-left:1px solid rgba(255, 255, 255, 0.34);
            cursor: pointer;
            vertical-align: top;
            margin-left: 10px;
        }

        .paraia-multi-select > .selected-items > .item > button:hover {
            color: #ccc;
        }

        .paraia-multi-select > .selected-items.expand {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        .paraia-multi-select > .dropdown {
            border-top-left-radius: 0;
            position: fixed;
            top:0;left:0;
            height: 0;
            background: rgba(214, 214, 214, 0.60);
            z-index: 3;
            border-top-right-radius: 0;
            transition: .75s;
            overflow-y: hidden;
            padding: 0;
            border-top-width: 0;
            border-color: transparent;
        }

        .paraia-multi-select > .dropdown.expand {
            height: 100%;
        }

        .paraia-multi-select > .dropdown > .filter {
            position: relative;
            padding: 25px 30px 15px;
            max-width: 280px;
            margin: 0 auto;background: #ffffff;border:1px solid #ccc;border-bottom: none;
        }

        .paraia-multi-select > .dropdown > .filter > input {
            width: 100%;border:1px solid #CECECE;border-radius: 5px;
        }

        .paraia-multi-select > .dropdown > .filter > button {
            position: absolute;
            border: 0;
            background-color: transparent;
            cursor: pointer;
            font-weight: 900;
            color: #ccc;
            top: 30px;
            right: 33px
        }

        .paraia-multi-select > .dropdown > .filter > button:hover {
            color: #aaa;
        }

        .paraia-multi-select > .dropdown > .items {
            max-height: 200px;
            border:1px solid #ccc;
            border-top:none;
            overflow-y: auto;
            max-width: 280px;
            margin: 0 auto;
            padding: 0 30px;
            background: #ffffff;
            float: none;
        }

        .paraia-multi-select > .dropdown > .items::-webkit-scrollbar-track {
            background-color: #D6D6D6;
            border-radius: 1px;
        }

        .paraia-multi-select > .dropdown > .items::-webkit-scrollbar {
            width: 1px;
            background-color: #D6D6D6;
        }

        .paraia-multi-select > .dropdown > .items::-webkit-scrollbar-thumb {
            width: 10px;
            background-color: #D6D6D6;
        }

        .paraia-multi-select > .dropdown > .items > .item {
            cursor: pointer;
        }

        .paraia-multi-select > .dropdown > .items > .item > .custom-checkbox > label {
            padding: 4px 10px;
            display: block;
            font:14px $montserrat;
            z-index: 1;
            margin: 2px 0;
            cursor: pointer;
        }

        .paraia-multi-select.rtl {
            direction: rtl;
            text-align: right;
        }

        .paraia-multi-select.rtl > .selected-items {
            padding: 2px 2px 2px 80px;
        }

        .paraia-multi-select > .selected-items > button:nth-child(2) {
            left: auto;
            right: 7px;
        }

        .paraia-multi-select > .selected-items > button:nth-child(3) {
            left: auto;
            right: 40px;
        }
        .paraia-multi-select.rtl > .selected-items > button:nth-child(2) {
            right: auto;
            left: 7px;
        }
        .custom-control{padding: 0;}
        .custom-control-label::before{
            width: 100%;height: 100%;z-index: -1;background: none;border-radius: initial;border:1px solid #ffffff;margin: 0;
        }

        .custom-control-input:checked~.custom-control-label::before{background: rgba(214, 214, 214, 0.27);border:1px solid rgba(112, 112, 112, 0.27);left:0;top:0;}
        .paraia-multi-select.rtl > .selected-items > button:nth-child(3) {
            right: auto;
            left: 40px;
        }

        .paraia-multi-select.rtl > .dropdown > .filter > button {
            right: auto;
            left: 15px;
        }

        .paraia-multi-select.rtl > .dropdown > .items > .item > .custom-checkbox {
            padding: 0 1.5rem 0 0;
        }

        .paraia-multi-select.rtl > .dropdown > .items > .item > .custom-checkbox > label::before, .paraia-multi-select.rtl > .dropdown > .items > .item > .custom-checkbox > label::after {
            left: auto;
            right: 0;
        }
    }
}
/* Ahmet Sağırlı */
.divInput{
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    overflow: hidden;
    white-space: nowrap;
    p,span,div,b,i,em{
        display: inline !important;
        margin: 0;
    }
    br{
        display: none;
    }
    span{
        position: relative;
        border-radius: 500px;
        background-color: #28A9D9;
        text-align: center;
        margin: 0 2px;
        color: #fff;
        font-size: 12px;
        padding: 5px 20px;
        padding-right: 30px;
        pointer-events: none;
        &:before{
            content: '';
            width: 1px;
            height: 100%;
            background-color: rgba(255,255,255,0.34);
            top: 0;
            bottom: 0;
            right: 20px;
            pointer-events: none;
            position: absolute;
        }
        i{
            pointer-events: auto;
            cursor: pointer;
            position: absolute;
            right: 8px;
            top: 11px;
            line-height: 0px;
            font-size: 12px;
            font-style: unset;
            color: #fff;
        }
    }
}
.sModal{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(214, 214, 214, 0.60);
    z-index: 1000;
    .centered{
        background-color: #fff;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        border: 1px solid #C2C2C2;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
        width: 370px;
        left: 50%;
        padding: 20px;
        z-index: 1;
        .clse{
            cursor: pointer;
            float: right;
            font-size: 27px;
            line-height: 22px;
            color: #CECECE;
            position: relative;
            top: -13px;
            right: -11px;
        }
    }
    ul{
        list-style: none;
        padding: 0;
        background-color: #fff;
        max-height: 400px;
        min-height: 400px;
        overflow: hidden;
        overflow-y: auto;
        margin: 10px 0px;
        li{
            padding: 5px 10px;
            border-bottom: 1px solid #f2f2f2;
            cursor: pointer;
            &.active{
                background-color: #D6D6D6;
            }
            &:last-child{
                border-bottom: 0;
            }
        }
        /* width */
        &::-webkit-scrollbar {
            width: 7px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #fff;
            border: 1px solid #D6D6D6;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    }
    input{
        border-radius: 5px;
        padding: 10px 15px;
        border: 1px solid #CECECE;
        width: 100%;
        outline: none;
    }
    button{
        width: 100%;
        border-radius: 5px;
        background-color: #ECECEC;
        border: 1px solid #CECECE;
        color: $si;
        padding: 10px;
        cursor: pointer;
    }
    &:after{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}
/* Ahmet Sağırlı */


.cards-list{
    a{
        border-radius: 4px;box-shadow: 0 2px 6px rgb(241, 241, 241);background: #ffffff;display: block;color:#000000 !important;text-decoration: none;position: relative;text-align: center;
        .logo-img{
            height: 80px;
            img{max-width: 100%;max-height: 100%;}
        }
        .block-content{
            padding:40px 20px 20px;
            span{
                color: #fff;background-color: #7fcc46;top: 10px;right: 10px;padding-left: .75rem;padding-right: .75rem;border-radius: .25rem!important;position: absolute;padding: 0 .75rem;height: 2rem;line-height: 2rem; z-index: 5;font-weight: 600;display: block;
                &.pasif{background-color: #ff7103}
            }
            .font-size-lg{font-size: 19px;margin: 20px 0 0;}
            .font-size-sm{font-weight: bold;color:#747474;}
        }
        em{
            background: #f1f1f1;text-align: center;padding: 10px 20px;color:#747474;font-style: normal;display: block;
        }
    }

}


/*seyhan*/

.bootstrap-select{
    &.show{
        .dropdown-toggle{
            &:before{
                -webkit-transform: rotate(-135deg);-ms-transform: rotate(-135deg);transform: rotate(-135deg);
            }
        }
    }
    .dropdown-toggle{
        font:12px $montserrat;border-radius: 4px;border:1px solid #CECECE;background: none $i;height: auto;
        &:after{display: none;}
        &:before{
            border-bottom: 2px solid #393939;border-right: 2px solid #393939;content: '';display: block;margin-top:-7px;pointer-events: none;position: absolute;right: 12px;top: 50%;-webkit-transform-origin: 66% 66%;-ms-transform-origin: 66% 66%;transform-origin: 66% 66%;-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);-webkit-transition: all 0.15s ease-in-out;transition: all 0.15s ease-in-out;width: 10px;height: 10px;
        }
    }
    .dropdown-menu{
        font:12px $montserrat;border-radius: inherit;margin: -1px 0;
        li{
            .dropdown-item{padding: .25rem 1rem;}
        }
    }
    .dropdown-item.active, .dropdown-item:active{
        background-color: #f3dc19;color:black;
    }
}
.log-pagination{padding-bottom: 30px;}
.log-table{padding: 20px 30px $i;
    .table-striped tbody tr:nth-of-type(odd){background: none;}
    .table td, .table th{font: 13px 'Poppins', sans-serif;color: #5d6063;}
    .thead-dark{
        th{color: #616467 $i;background-color: #f3f4f9 $i;border-color: #f3f4f9 $i;}
    }
}
.select-baslik{
    position: relative;float: left;width: 100%;
    > label{
        position: absolute;top:0;left:0;font:12px $montserrat;margin: 7px 15px;
    }
    .bootstrap-select{
        .dropdown-toggle{
            padding-left: 90px;
        }
    }
    &.w1{
        .bootstrap-select{
            .dropdown-toggle{
                padding-left: 60px;
            }
        }
    }
}
.card{
    img{object-fit: cover;}
}
#logo,#breadcrumb,#imageQuality{
    .modal-body{padding: 30px 20px $i;}
    ul{
        li{font-size:14px;}
    }
}
h5.card-title{margin: 0;font: 18px "Poppins", sans-serif;color: #393939;text-align: center;}
a.btn.btn-link.btn-sm{border: 1px solid #d3d3d4}
.selected-files{
    .slick-prev{padding: 3px 15px;font-size: 14px;margin: 0 0 5px 0;}
    .slick-next{padding: 3px 15px;font-size: 14px;margin: 5px 0 0 0 ;}
}
.swal2-popup .swal2-styled.swal2-confirm{padding: 5px 20px;font-size: 15px;}
.swal2-popup .swal2-styled.swal2-cancel{padding: 5px 20px;font-size: 15px;}
.swal2-popup .swal2-title{font: 20px "Poppins", sans-serif;color: #393939;margin: 0;}
.swal2-popup .swal2-file, .swal2-popup .swal2-input, .swal2-popup .swal2-textarea{font: 14px "Poppins", sans-serif;color: #393939;margin: 10px 0 0 0;}
.uploader{
    .option ul{max-width: 155px;}
    .sortable{margin:0 -15px $i;width: auto;
        li{width:20%;padding: 0 15px;margin:0 0 20px 0;}
    }
    .images-border{border:2px dashed #CECECE;border-radius: 3px;width: 96px;height: 96px;overflow: hidden;float: left;position: relative;margin-right: 10px;
        .remove{position: absolute;top:0;right: 0;color:#fff;width: 19px;height: 19px;z-index: 1;cursor: pointer;background: #28A9D9;text-align: center;font: 16px/17px $montserrat;}
        img{border-radius: 3px;width: auto;max-height: 100%;height: 96px;object-fit: cover;}
        em{position: absolute;bottom: 15px;right: 15px;color:#CECECE;font:normal 24px/24px $montserrat;}
    }
    .btn-blue{background: #28A9D9;font-size: 16px;width: 78px;height: 38px;border: none;cursor: pointer;padding: 0;margin: 40px 0;}
    .myTab{
        border: none;
        li{
            position: relative;float: left;
            a{
                color:#5d6063;font:16px $montserrat;border: none;border-radius: initial;padding: 15px 35px;position: relative;z-index: 1;
                &:after{content: "";position: absolute;bottom: -12px;left: 0;width: 100%;height: 100%;background: #fff;z-index: -1;display: none;}
                &:before{display: none;}
                &.active{
                    box-shadow:0 3px 6px rgba(0, 0, 0, 0.16);background: #fff;
                    &:after{display: block;}
                }
            }
        }
    }
    .left-rotate,.right-rotate{
        font:11px $montserrat;border-color:#ced4da;width: 100%;color:black;background: none;height: 39px;line-height: 23px;
        img{ margin-right: 10px;}
    }
    .rotate-img{
        transition: .4s;overflow: hidden;
        img{transition: .4s;}
    }
    .tab-content{
        background: #fff;padding: 0;box-shadow:0 3px 6px rgba(0, 0, 0, 0.16);
        .dropify-wrapper {
            height: 260px;
            .dropify-message {
                p{color:black;font:16px $montserrat;}
                small{ color:black;font:12px $montserrat;}
                .dosya{background: #fff;border:1px solid #D4D4D4;border-radius: 6px;font-size: 16px;width: 200px;height: 48px;line-height: 46px;margin: 20px auto;}
            }
        }
        .search{
            position: relative;
            label{color: #393939;font: normal 13px "Poppins", sans-serif;position: absolute;bottom: 50%;left: 15px;margin: -11px 0;}
            input{border:1px solid #CECECE;border-radius: inherit;color:#393939;font:12px $montserrat;padding: 10px 15px 10px 85px;width:auto;}
        }
        .slidepage {
            .images{
                position: relative;
                .imag{height: 168px;text-align: center;vertical-align: middle;display: table-cell;width: 100em;background: #ffffff;border-radius: 4px;}
                img{max-height: 100%;max-width: initial;display: block;margin: 0 auto;}
                .img{overflow: hidden;}
                span{position: absolute;top:10px;left: 0;z-index: 1;background: #fff;font:11px $montserrat;color:#393939;padding: 5px 13px;}
                b{color:#28A9D9;font:14px $montserrat;display: block;margin: 5px 0 0;}
                .form-group{
                    position: absolute;top:0;right: 0;z-index: 1;
                    .checkbox {
                        .icheckbox_square-blue{background-color: #fff;width: 19px;margin-right: 0;}
                    }
                }
            }
        }
    }
}
.topPage.fixedTopPage{position: fixed;top: 75px;right: 50%;z-index: 100;width: 130px;padding: 15px 20px;border: none;margin-right: -590px;
    .backupBtn,.float-left{display: none;}
}
.navbar.fixedNavbar{position: fixed;top:75px;left:0;width:100%;z-index: 99;background: #fff;box-shadow: 0 1px 7px 0 rgba(224, 224, 224, 0.28);border:none;border-top:1px solid #eee;
    .navbar-inner{border:none;}
}
.uploadsModal{
    button.close{
        background: url('../images/close-modal.png') no-repeat right center;padding: 5px 35px 5px 0 $i;font:normal 16px $montserrat $i;color:#393939;width: 100px;position: absolute;top:0;right: 0;cursor: pointer;z-index: 20;margin: 15px;
    }
    .modal-dialog{
        max-width: 950px;
        .modal-content{
            border-radius: initial;border: none;background: none;
            .modal-bg{background: #fff;box-shadow:0 3px 6px rgba(0, 0, 0, 0.16);padding: 2rem;}
            .modal-body{
                width: 100%;padding: 0;
                img{max-height: 100%;object-fit: cover !important;height: auto !important;border-radius: 0 $i;}
                table{
                    border: none;margin: 0;
                    tr{
                        td{text-align: left;width: auto $i;}
                    }
                }
                .col-form-label{font:13px $montserrat $i;text-align: left;}
                .form-control{border-radius: initial;height: calc(2.05rem + 2px);font:13px $montserrat;}
                .image-page{
                    max-width: 750px;margin:0 auto;
                    .image-bilgi{
                        float: left;width: 100%;
                        li{font: 13px poppins,sans-serif !important;padding: 15px 0 !important;margin: 0 20px 0 0 !important;text-align: left;width: auto !important;}
                    }
                }
            }
        }
    }
}
.modal-backdrop.show{opacity: 1 $i;}
.modal-backdrop{background-color: #EEEEEE $i;}


.fa-close:before,.fa-times:before{content:"\f00d"}

.nav-tabs {
    li{
        a{
            img{margin-right: 10px;vertical-align: sub;}
            &.disabled{opacity: 0.3;}
            i{margin-left: 12px;margin-top: 2px;}
        }
    }
}

#editor1{
    height: auto $i;overflow: inherit $i;
}
#createPopup{
    form .form-group label{position: inherit !important;}
    select{width: 100% $i;}

}
.dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message *{font: 18px 'Poppins', sans-serif $i; }
.language-title{font-size:14px;}
.custom-tooltip-bottom{border-radius: 0;width: 320px;margin: 10px !important;border: none;background: none;
  .modal-content{border-radius: 5px;}
  .modal-header{padding: 5px 20px;
    .modal-title{font-size: 20px;}
    .close{position: absolute;top: -40px;background: #fff;opacity: 1;padding: 0;height: 30px;width: 30px;border-radius: 50%;right: 0;
      span{display: block !important;font-weight: 100;}
    }
  }
  .modal-body{padding:12px 20px;text-align: left;
    p{line-height: 20px;font-size: 16px;
      &:last-child{margin:0;}
    }
    img{height: 50px;width: 50px;float: right;margin: 4px 0 0 15px;}
  }
}
#tooltip-top{padding: 0;width: 100% !important;max-width: 100% !important;position: fixed;z-index: 99999;
  .all{width: 100%;padding-right: 20px;}
  .navbar{padding: 15px 30px;color: #fff;background: #2b2b2b;
    .col-4{display: table;min-height: 60px;
      .navbar-brand{display: table-cell;vertical-align: middle;padding: 0 15px;}
    }
    .navbar-text{color: #fff;
      p{line-height: 23px;margin: 0 0 5px 0;
        &:last-child{margin:0;}
      }
    }
    button.close{font-size: 30px;position: absolute;right: 0;color: #fff;opacity: 1;}
  }
}
.popup-modal{text-align: center;
  .modal-dialog{display: inline-block;}
}
.modal-open{padding-right: 0 !important;
  header{z-index: 1000;}
}
.subTop{position: relative;}