.modal-backdrop {
    opacity: 0.5;
}

.popup-modal {
    max-height: 500px;
    overflow: auto;
}

.popup-modal::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

.popup-modal::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

.popup-modal::-webkit-scrollbar-thumb {
    background-color: #000000;
}

.popup-modal button.fancybox-close-small {
    display: none;
}

.popup-modal button {
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    background: url(../images/cls.svg) no-repeat center;
    width: 40px;
    height: 40px;
}

.popup-modal button:after {
    display: none;
}

.popup-modal p {
    font: 18px/28px Ciutadella-Light;
    letter-spacing: 0.5px;
}

.popup-modal img {
    max-width: 100%;
    width: auto !important;
    height: auto !important;
}

.popup-modal strong, .popup-modal b {
    display: contents;
}

.popup-modal ul li {
    font: 18px/28px Ciutadella-Light;
    margin: 8px 0;
}

.popup-modal ul li:before {
    content: "";
    width: 6px;
    height: 6px;
    display: block;
    background: #000;
    float: left;
    margin: 9px 8px 0 0;
}
