.selectator_options {
  background: #f3dc19;
  margin-top: 10px !important;
  padding: 10px !important; }
  .selectator_options li {
    cursor: pointer; }

.options-hidden .selectator_options {
  display: none; }

.selectator_selected_items {
  float: left; }

.selectator_selected_item {
  background-color: #fafafa;
  position: relative;
  display: inline-block;
  margin: 0 5px 0 0;
  padding: 2px 20px 4px 5px;
  font-size: 80%;
  border-radius: 2px;
  border: 1px solid #dcdcdc; }

.selectator_selected_item_remove {
  display: inline-block;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.75);
  margin: 0 0 0 5px;
  cursor: pointer;
  font-size: 60%;
  line-height: 10px;
  vertical-align: top;
  border-radius: 0 2px 2px 0;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 7px 5px 4px 5px; }

.selectator_element {
  float: left;
  width: 100% !important;
  border: 1px solid #d2d2d2;
  background: #fff;
  border-radius: 5px;
  min-height: inherit !important;
  margin: 0 0 20px 0; }
  .selectator_element input {
    height: inherit !important;
    border: none !important;
    margin: 0 !important;
    width: auto !important;
    padding: 0 5px !important; }
