@import "function";
.slidepage{
	margin: 0 -10px;
	/* width */
	&::-webkit-scrollbar {
		width: 5px;
	}
	
	/* Track */
	&::-webkit-scrollbar-track {
		background: #EBEBEB;
	}
	
	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: #D4D4D4;
	}
	
	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
		background: #cccccc;
	}
	
}
ul.sortable-style  {
	list-style: none;padding: 0;margin: 0;z-index: 5;display: contents;
	> li{
		background: none;padding: 0 10px;
		.images{height: 160px;border:1px solid #CECECE;overflow: hidden;border-radius: 3px;position: relative;background: #ffffff;
			.img{background-repeat: no-repeat;background-size: contain;background-position: center;
				display: table-cell;vertical-align: middle;height: 160px;width: 100em;text-align: center;
				img{max-width: 100%;width: 100%;height: 100%;object-fit: cover;}
				b{display:block;color:#28A9D9;font-size: 14px;margin: 5px 0 0;}
			}
			.form{
				top:10px;right: 0;z-index: 1;
			}
		}
		u{color:$grey;font-size: 12px;text-decoration: none;width: 80%;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow:hidden;margin: 8px 0;float: left;height: 36px;padding-right: 40px;}
		.option{
			right: 0;
			span{
              i{font-size: 20px;color:$lightblue;}
				position: absolute; cursor: pointer;padding: 4px 7px;transition: .4s;z-index: 2;right: 0;
				&:before{content:"";position: absolute;top:-3px;left:0;width: 100%;height: 0;background: #ffffff;opacity: 0;z-index: -1;transition: .4s;}
			}
			&.open{
				span{
					box-shadow: 0 3px 6px rgba(0,0,0,0.16);
					&:before{opacity: 1;height: 100%}
				}
			}
			ul{
				list-style: none;padding: 5px 0;margin: 0;display: none;position: absolute;bottom:0;right: 0;background: #ffffff;box-shadow: 0 3px 6px rgba(0,0,0,0.16);z-index: 1;text-align: left;
				li{
					float: none;width: 100%;padding: 3px 10px;transition: .4s;margin: 0;
					&:hover{background: #f7f7f7;}
					a{
						color:#393939;text-decoration: none;display: block;font-size: 14px;
						i{
							float:left;margin:2px 10px 0 0;font-size: 18px;text-align: center;color:$lightblue;
						}
					}
				}
			}
		}
	}
}