@font-face {
  font-family: 'source_sans_proregular';
  src: url("../fonts/sourcesanspro-regular.woff2") format("woff2"), url("../fonts/sourcesanspro-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'source_sans_prosemibold';
  src: url("../fonts/sourcesanspro-semibold.woff2") format("woff2"), url("../fonts/sourcesanspro-semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinsthin';
  src: url("../fonts/poppins-thin.woff2") format("woff2"), url("../fonts/poppins-thin.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinsblack';
  src: url("../fonts/poppins-black.woff2") format("woff2"), url("../fonts/poppins-black.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinsbold';
  src: url("../fonts/poppins-bold.woff2") format("woff2"), url("../fonts/poppins-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinsextrabold';
  src: url("../fonts/poppins-extrabold.woff2") format("woff2"), url("../fonts/poppins-extrabold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinsextralight';
  src: url("../fonts/poppins-extralight.woff2") format("woff2"), url("../fonts/poppins-extralight.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinslight';
  src: url("../fonts/poppins-light.woff2") format("woff2"), url("../fonts/poppins-light.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinsmedium';
  src: url("../fonts/poppins-medium.woff2") format("woff2"), url("../fonts/poppins-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinsregular';
  src: url("../fonts/poppins-regular.woff2") format("woff2"), url("../fonts/poppins-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinssemibold';
  src: url("../fonts/poppins-semibold.woff2") format("woff2"), url("../fonts/poppins-semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
.slidepage {
  margin: 0 -10px;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */ }
  .slidepage::-webkit-scrollbar {
    width: 5px; }
  .slidepage::-webkit-scrollbar-track {
    background: #EBEBEB; }
  .slidepage::-webkit-scrollbar-thumb {
    background: #D4D4D4; }
  .slidepage::-webkit-scrollbar-thumb:hover {
    background: #cccccc; }

ul.sortable-style {
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 5;
  display: contents; }
  ul.sortable-style > li {
    background: none;
    padding: 0 10px; }
    ul.sortable-style > li .images {
      height: 160px;
      border: 1px solid #CECECE;
      overflow: hidden;
      border-radius: 3px;
      position: relative;
      background: #ffffff;
    margin-bottom: 8px;}
      ul.sortable-style > li .images .img {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        display: table-cell;
        vertical-align: middle;
        height: 160px;
        width: 100em;
        text-align: center; }
        ul.sortable-style > li .images .img img {
          max-width: 100%;
          width: 100%;
          height: 100%;
          -o-object-fit: cover;
             object-fit: cover; }
        ul.sortable-style > li .images .img b {
          display: block;
          color: #28A9D9;
          font-size: 14px;
          margin: 5px 0 0; }
      ul.sortable-style > li .images .form {
        top: 0;
        right: 0;
        z-index: 1; }
    ul.sortable-style > li u {
        color: #BCBCCB;
        font-size: 12px;
        text-decoration: none;
        width: 80%;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin: 5px 0;
        float: left;
        /* height: 36px; */
        padding-right: 18px;}
    ul.sortable-style > li .option {
      right: 0; }
      ul.sortable-style > li .option span {
        position: absolute;
        cursor: pointer;
        padding: 4px 7px;
        -webkit-transition: .4s;
        transition: .4s;
        z-index: 2;
        right: 0; }
        ul.sortable-style > li .option span i {
          font-size: 20px;
          color: #39D2FF; }
        ul.sortable-style > li .option span:before {
          content: "";
          position: absolute;
          top: -3px;
          left: 0;
          width: 100%;
          height: 0;
          background: #ffffff;
          opacity: 0;
          z-index: -1;
          -webkit-transition: .4s;
          transition: .4s; }
      ul.sortable-style > li .option.open span {
        -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); }
        ul.sortable-style > li .option.open span:before {
          opacity: 1;
          height: 100%; }
      ul.sortable-style > li .option ul {
        list-style: none;
        padding: 5px 0;
        margin: 0;
        display: none;
        position: absolute;
        bottom: 0;
        right: 0;
        background: #ffffff;
        -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        z-index: 1;
        width: 130px;
        text-align: left; }
        ul.sortable-style > li .option ul li {
          float: none;
          width: 100%;
          padding: 3px 10px;
          -webkit-transition: .4s;
          transition: .4s;
          margin: 0; }
          ul.sortable-style > li .option ul li:hover {
            background: #f7f7f7; }
          ul.sortable-style > li .option ul li a {
            color: #393939;
            text-decoration: none;
            display: block;
            font-size: 14px; }
            ul.sortable-style > li .option ul li a i {
              float: left;
              margin: 2px 10px 0 0;
              font-size: 18px;
              text-align: center;
              color: #39D2FF; }
