@font-face {
  font-family: 'source_sans_proregular';
  src: url("../fonts/sourcesanspro-regular.woff2") format("woff2"), url("../fonts/sourcesanspro-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'source_sans_prosemibold';
  src: url("../fonts/sourcesanspro-semibold.woff2") format("woff2"), url("../fonts/sourcesanspro-semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinsthin';
  src: url("../fonts/poppins-thin.woff2") format("woff2"), url("../fonts/poppins-thin.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinsblack';
  src: url("../fonts/poppins-black.woff2") format("woff2"), url("../fonts/poppins-black.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinsbold';
  src: url("../fonts/poppins-bold.woff2") format("woff2"), url("../fonts/poppins-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinsextrabold';
  src: url("../fonts/poppins-extrabold.woff2") format("woff2"), url("../fonts/poppins-extrabold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinsextralight';
  src: url("../fonts/poppins-extralight.woff2") format("woff2"), url("../fonts/poppins-extralight.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinslight';
  src: url("../fonts/poppins-light.woff2") format("woff2"), url("../fonts/poppins-light.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinsmedium';
  src: url("../fonts/poppins-medium.woff2") format("woff2"), url("../fonts/poppins-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinsregular';
  src: url("../fonts/poppins-regular.woff2") format("woff2"), url("../fonts/poppins-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinssemibold';
  src: url("../fonts/poppins-semibold.woff2") format("woff2"), url("../fonts/poppins-semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
.uploadsModal {
  color: #656A88;
  font-size: 13px; }
  .uploadsModal button.close {
    font-weight: 100;
    font-size: 40px;
    position: absolute;
    right: 20px;
    top: 20px; }
  .uploadsModal table {
    border: none;
    margin: 0; }
    .uploadsModal table tr td {
      text-align: left;
      width: auto !important; }
  .uploadsModal .image-page table tr td {
    vertical-align: top;
    font-size: 13px;
    padding: 5px 10px 5px 0; }
  .uploadsModal i.danger {
    font-size: 70px;
    text-align: center;
    display: block;
    color: #B86565;
    margin: 0 0 30px 0; }
  .uploadsModal p {
    font-size: 17px;
    margin: 0; }
  .uploadsModal .head {
    font-weight: 600; }
  .uploadsModal img {
    max-width: 100%;
    max-height: 100%; }
  .uploadsModal .col-form-label {
    color: #393939; }
  .uploadsModal .form-control {
    border-radius: initial; }
  .uploadsModal .left-rotate, .uploadsModal .right-rotate {
    font-size: 11px;
    border: 1px solid  #ced4da;
    width: 100%;
    color: black;
    background: none;
    height: 39px;
    line-height: 23px;
    border-radius: 6px; }
    .uploadsModal .left-rotate img, .uploadsModal .right-rotate img {
      margin-right: 5px; }
  .uploadsModal .rotate-img {
    height: 315px;
    overflow: hidden; }
    .uploadsModal .rotate-img img {
      -webkit-transition: .4s;
      transition: .4s; }
  .uploadsModal .modal-content {
    border-radius: initial;
    border: none;
    background: none; }
    .uploadsModal .modal-content .modal-bg {
      background: #fff;
      -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
              box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); }
    .uploadsModal .modal-content .modal-body {
      width: 100%;
      padding: 0; }
  .uploadsModal .modal-dialog {
    max-width: 950px; }

.modal-backdrop {
  display: none; }

.uploadsModal {
  background-color: #F0F0F7 !important; }
