@import "function";

.uploadsModal{color:$color;font-size: 13px;
  button.close{font-weight: 100;font-size: 40px;position: absolute;right: 20px;top: 20px;}
  table{
    border: none;margin: 0;
    tr{
      td{text-align: left;width: auto $i;}
    }
  }
  .image-page{
    table{
      tr{
        td{vertical-align: top;font-size: 13px;padding: 5px 10px 5px 0;}
      }
    }
  }
  i.danger{font-size: 70px;text-align: center;display: block;color: #B86565;margin: 0 0 30px 0;}
  p{font-size:17px;margin: 0;}
  .head{font-weight: 600;}
  img{max-width: 100%;max-height: 100%;}
  .col-form-label{color:#393939;}
  .form-control{border-radius: initial;}
  .left-rotate,.right-rotate {
    font-size: 11px;border:1px solid  #ced4da;width: 100%;color: black;background: none;height: 39px;line-height: 23px;border-radius: 6px;
    img{margin-right: 5px}
  }
  .rotate-img{
    height: 315px;overflow: hidden;
    img{transition: .4s;}
  }
  .modal-content{border-radius: initial;border: none;background: none;
    .modal-bg{background: #fff;box-shadow:0 3px 6px rgba(0, 0, 0, 0.16);}
    .modal-body{ width: 100%;padding: 0;
    }
  }
  .modal-dialog{max-width: 950px;

  }
}
.modal-backdrop{display: none;}
.uploadsModal{background-color: #F0F0F7 $i;}
